<template>
  <f7-page class="has-toolbar has-navbar custom-nav chatlist">

    <f7-navbar>
      <f7-nav-left>
       <f7-link icon="icon icon-arrow-left" back sliding></f7-link>
       <span>Toko Laptopku</span>
      </f7-nav-left>
      <f7-subnavbar class="chat-product">
        <f7-list class="cart-block">
          <f7-list-item class="cart-content">
            <div slot="media" class="cart-media">
              <img alt="Product Thumbnail" :src="images.product.detail.macbook">
            </div>
            <div slot="inner-start">
              <h5 class="cart-product">Macbook Pro Retina Display</h5>
              <p class="cart-product-desc text-red">Rp 19.750.000</p>
            </div>
            <div slot="after">
              <f7-link href="#" class="cart-delete"><span class="icon icon-chevron-right"></span></f7-link>
            </div>
          </f7-list-item>
        </f7-list>
      </f7-subnavbar>
    </f7-navbar>

<!--
    <f7-messages>
      <f7-message v-for="message in messages"
        :key="message.messageid",
        :text="message.text"
        :date="message.date"
        :avatar="message.avatar"
        :type="message.type"
        :day="message.day"
        :time="message.time"
        @click="onClick"
        @click:text="onTextClick"
        @click:name="onNameClick"
        @click:avatar="onAvatarClick">
      </f7-message>
    </f7-messages>
-->
      <f7-messages>
        <f7-message v-for="message in messages"
          :key="message.messageid"
          :text="message.text"
          :date="message.date"
          :avatar="message.avatar"
          :type="message.type"
          :day="message.day"
          :time="message.time"
          @click="onClick"
          @click:text="onTextClick"
          @click:name="onNameClick"
          @click:avatar="onAvatarClick"></f7-message>
      </f7-messages>
    <f7-messagebar placeholder="Ketik disini" send-link="Kirim" @submit="onSubmit" class="chat-input"></f7-messagebar>

  </f7-page>
</template>

<script>
  export default {
    name: 'ChatDetail',
    data: function () {
      return {
        title: 'Chat Detail Page',
        images: {
          logo: {
            full: require('../images/logo/logo-full/blanja@3x.png'),
            min: require('../images/logo/logo-min/blanja-min@3x.png')
          },
          product: {
            detail: {
              macbook: require('../images/merchant/product/macbook/product-macbook.jpg')
            }
          }
        },
        name: 'Faiz',
        avatar: '../images/user/photo-1/user-photo@2x.jpg',
        messages: [
          {
            day: 'Hari ini',
            time: '12:15 AM'
          },
          {
            messageid: 1,
            name: 'Faiz',
            text: 'Bisa kirim sore ini mas?',
            label: 'Sent in good mood :)',
            avatar: require('../images/user/photo-1/user-photo@2x.jpg'),
            date: '12:00 AM'
          },
          {
            messageid: 2,
            name: 'Puji',
            text: 'Siap mas. Kita packing bubble wrap ya',
            type: 'received',
            avatar: require('../images/user/photo-1/user-photo@2x.jpg'),
            date: '12:15 AM'
          }
        ]
      }
    },
    methods: {
      onClick: function (event) {
        console.log('message click');
      },
      onAvatarClick: function () {
        console.log('avatar-click');
      },
      onTextClick: function () {
        console.log('text-click');
      },
      onNameClick: function () {
        console.log('name-click');
      },
      onSubmit: function (text, clear) {
        if (text.trim().length === 0) return;
        this.messages.push({
          name: this.name,
          avatar: this.avatar,
          text: text,
          date: (function () {
            var now = new Date();
            var hours = now.getHours();
            var minutes = now.getMinutes();
            return hours + ':' + minutes;
          })()
        });
        // Clear Message Bar
        clear();
      }
    }
  }
</script>
