<template>
  <f7-page class="bg-grey has-toolbar has-navbar custom-nav">

    <f7-navbar>
      <f7-nav-center>Messages</f7-nav-center>
    </f7-navbar>

    <f7-list class="chat-block">
        <f7-list-item class="chat-item" link="/chatdetail/">
            <div slot="media" class="chat-media">
                <img alt="Merchant Logo" :src="images.merchant.logo.smartstore">
            </div>
            <div slot="inner-start" class="chat-content">
                <h5 class="chat-merchant">Toko Laptopku</h5>
                <p class="chat-message">Bisa kirim sore ini mas?</p>
            </div>
            <span slot="after" class="chat-time">12.00 AM</span>
        </f7-list-item>
        <f7-list-item class="chat-item" link="/chatdetail/">
            <div slot="media" class="chat-media">
                <img alt="Merchant Logo" :src="images.merchant.logo.indomie">
            </div>
            <div slot="inner-start" class="chat-content">
                <h5 class="chat-merchant">Indomie Indonesia</h5>
                <p class="chat-message">Sudah di transfer ya kak. Bisa...</p>
            </div>
            <span slot="after" class="chat-time">12.00 AM</span>
        </f7-list-item>
    </f7-list>

    <f7-toolbar>
      <f7-link href="/home/"><div class="tb-icon icon-home"></div> Home</f7-link>
      <f7-link href="/product/"><div class="tb-icon icon-produk"></div> Produk</f7-link>
      <f7-link href="/transaction/"><div class="tb-icon icon-cart"></div> Transaksi</f7-link>
      <f7-link href="/chat/" class="active"><div class="tb-icon icon-messages"></div> Chat</f7-link>
      <f7-link href="/profile/"><div class="tb-icon icon-account"></div> Profil</f7-link>
    </f7-toolbar>

  </f7-page>
</template>

<script>
  export default {
    name: 'Chat',
    data () {
      return {
        title: 'Chat Page',
        images: {
          merchant: {
            logo: {
              smartstore: require('../images/merchant/logo/smartstore/merchant-logo-smartstore@3x.jpg'),
              indomie: require('../images/merchant/logo/indomie/merchant-logo-indomie@3x.jpg')
            }
          }
        }
      }
    }
  }
</script>
