<template>
    <f7-page class="bg-grey has-toolbar has-navbar" name="home">
        <f7-navbar>
            <f7-nav-center>
                <div class="navbar-title">
                    <span class="btitle">BLANJA</span>
                    <div class="badge color-white">SELLER</div>
                </div>
            </f7-nav-center>
            <f7-nav-right class="nav-btn-right">
                <f7-button class="btn-orange" href="/product-add/"><span class="icon-tambah size-12"></span> Jual</f7-button>
            </f7-nav-right>
        </f7-navbar>
        <div class="list-block media-list top-block home-profile">
            <ul>
                <li>
                    <div class="item-content">
                        <div class="item-media">
                            <img :src="images.profile.thumbnail.budi">
                        </div>
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title">{{ user.name ? user.name : 'Memuat data...' }}</div>
<!-- <div class="item-after">Element label</div> -->
                            </div>
                            <div class="item-subtitle">Sleeping.Shop</div>
<!-- <div class="item-text">Additional description text</div> -->
                            <div class="warning-circle"></div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <f7-block inner class="home-stat">
            <div class="center padding-tb-20 saldo">
                <span class="text-grey">Saldo Penjualan</span>
                <h1 class="text-dgrey no-margin size-26">Rp 11.090.889</h1>
            </div>
            <f7-grid class="padding-tb-20 stat-grid">
                <f7-col width="50" class="border-right">
                    <div class="stat-title text-grey">Pendapatan <div class="icon-triangle"></div></div>
                        <img :src="images.chart.chart1" alt="">
                    <f7-badge color="bgreen">+6.5%</f7-badge>
                </f7-col>
                <f7-col width="50">
                    <div class="stat-title text-grey">Produk Terjual <div class="icon-triangle"></div></div>
                    <img :src="images.chart.chart1" alt="">
                    <f7-badge color="bgreen">18 item</f7-badge>
                </f7-col>
            </f7-grid>
            <div class="center padding-tb-20">
                <f7-link class="text-dark" href="/statistik/">Lihat Statistik Penjualan <div class="icon-chevron-right inline-icon"></div></f7-link>
            </div>
        </f7-block>
    <f7-block class="margin-tb-20">
    <f7-button class="btn-red" href="/product-add/">JUAL PRODUK</f7-button>
    </f7-block>
    <f7-grid no-gutter class="border-grid">
    <f7-col width="50" class="border-right border-bottom">
    <div class="size-26 has-dot font-sbold text-dgrey"> 6
    <div class="dot dot-red"></div></div>
    <div class="text-grey">Pesanan Masuk</div>
    </f7-col>
    <f7-col width="50" class="border-bottom">
    <!-- <div class="size-26"></div> -->
    <img :src="images.chart.rating" alt="" style="height:36px;">
    <div class="text-grey">Rating (Semua Waktu)</div>
    </f7-col>
    <f7-col width="50" class="border-right">
    <div class="size-26 font-sbold text-dgrey"> 33 </div>
    <div class="text-grey">Sedang Dikirim</div>
    </f7-col>
    <f7-col width="50" class="">
    <div class="size-26 font-sbold text-dgrey"> 20</div>
    <div class="text-grey">Jumlah Produk</div>
    </f7-col>
    </f7-grid>
    <f7-toolbar>
    <f7-link href="/home/" class="active"><div class="tb-icon icon-home"></div> Home</f7-link>
    <f7-link href="/product/"><div class="tb-icon icon-produk"></div> Produk</f7-link>
    <f7-link href="/transaction/"><div class="tb-icon icon-cart"></div> Transaksi</f7-link>
    <f7-link href="/chat/"><div class="tb-icon icon-messages"></div> Chat</f7-link>
    <f7-link href="/profile/"><div class="tb-icon icon-account"></div> Profil</f7-link>
    </f7-toolbar>
    </f7-page>
</template>
<script>
import Vue from 'vue'
import axios from 'axios'
import Framework7 from 'framework7'
import Framework7Vue from 'framework7-vue/dist/framework7-vue.esm.bundle.js'
Vue.use(axios, Framework7, Framework7Vue)
export default {
  name: 'home',
  data () {
    return {
      title: 'Home Page',
      authToken: this.$store.state.token,
      user: this.$store.getters.getUser,
      images: {
        profile: {
          thumbnail: {
            budi: require('../images/user/photo-1/user-photo@2x.jpg')
          }
        },
        chart: {
          chart1: require('../assets/images/line-chart.png'),
          chart2: require('../assets/images/line-chart.png'),
          rating: require('../assets/images/stars.png')
        }
      }
    }
  },
  created () {
    axios.get('https://iam-message-testing.azurewebsites.net/user', {
      headers: {
        'Authorization': 'Bearer ' + this.authToken
      }
    })
      .then(response => {
        const result = response.data
        if (result.is_ok) {
          this.$store.commit('saveUser', result.data)
        } else {
          console.log(result.error)
        }
      })
      .catch(e => {
        console.log(e)
      })
  }
}
</script>
