<template>
  <f7-page class="bg-white" no-navbar>
    <!-- <f7-navbar>
      <f7-nav-left>
        <f7-link href="#" @click="$router.back()"><f7-icon icon="icon-arrow-left"></f7-icon></f7-link> <div class="nav-left-title">masuk</div>
      </f7-nav-left>
    </f7-navbar> -->
    <div class="center-page-title">
      <h2 class="margin-b-10">
        <span class="font-sbold">Masuk ke</span> <span class="btitle">BLANJA</span> <div class="badge color-red">SELLER</div>
      </h2>
      masukkan nomor telepon anda untuk <br>masuk sebagai seller
    </div>

    <f7-list form class="no-margin">
      <f7-list-item>
        <f7-label>Nomor Telepon</f7-label>
      </f7-list-item>
      <f7-list-item class="input-div">
        <f7-grid class="input-grid" no-gutter>
          <f7-col width="15" class="ph-code-input pd-r-10"><f7-input name="code" placeholder="+62" type="text"></f7-input></f7-col>
          <f7-col width="85" class="pd-l-10"><f7-input name="number" placeholder="848586878889" type="text" ></f7-input></f7-col>
        </f7-grid>
      </f7-list-item>
      <f7-list-item>
        <f7-label>Password</f7-label>
      </f7-list-item>
      <f7-list-item class="input-div">
        <f7-input name="password" type="password" placeholder="******"></f7-input>
      </f7-list-item>
      <div class="margin-tb-20 pd-10">
      <f7-button class="btn-red margin-lr-5" href="/home/">MASUK</f7-button>
    </div>
    <!-- <f7-list-label class="center">
      <p>Belum punya akun? <f7-link href="/register/">Daftar disini</f7-link></p>
    </f7-list-label> -->
    </f7-list>
  </f7-page>

</template>
