<template>
  <f7-page class="bg-grey has-toolbar has-navbar" name="product add">
    <f7-navbar>
      <f7-nav-left>
        <f7-link href="#" @click="$router.back()"><f7-icon icon="icon-arrow-left"></f7-icon></f7-link>
      </f7-nav-left>

      <f7-nav-center>
        Detail Produk
      </f7-nav-center>

    </f7-navbar>

    <div class="wrap-h-137">
      <f7-list class="top-block list-inline add-prod-img">
        <f7-list-item>
          <picture-input ref="pictureInput" @change="onChange" 
          type="file" id="input-image" name="" value="" accept="image/jpeg,image/png" class="hidden"/>
          <label for="input-image">
            <img :src="input.image" alt="">
          </label>
        </f7-list-item>
        <f7-list-item v-for="imageUpload in listImages" :key="imageUpload.id">
          <img :src="imageUpload.image" alt="">
        </f7-list-item>
        <!-- </f7-list-item>
        <f7-list-item>
          <img :src="images.product.thumbnail.macbook" alt="">
        </f7-list-item>
        <f7-list-item>
          <img :src="images.product.thumbnail.macbook" alt="">
        </f7-list-item>
        <f7-list-item>
          <img :src="images.product.thumbnail.macbook" alt="">
        </f7-list-item>
        <f7-list-item>
          <img :src="images.product.thumbnail.macbook" alt="">
        </f7-list-item>
        <f7-list-item>
          <img :src="images.product.thumbnail.macbook" alt="">
        </f7-list-item> -->


      </f7-list>
    </div>

    <f7-block inner class="margin-t-15">

      <f7-list form class="no-margin product-form">
        <f7-list-item>
          <f7-label>Nama Barang</f7-label>
        </f7-list-item>
        <f7-list-item class="input-div">
          <f7-input name="name" type="text" v-model="itemName"></f7-input>

        </f7-list-item>
        <f7-list-item>
          <f7-label>Deskripsi</f7-label>
        </f7-list-item>
        <f7-list-item class="input-div">
          <!-- <f7-input name="deskripsi" type="textarea" placeholder="Deskripsikan barang yang akan anda jual"></f7-input> -->
          <div class="item-input">
            <textarea class="resizable" v-model="itemDesc"></textarea>
          </div>
        </f7-list-item>
        <f7-list-item class="no-gap">
          <f7-grid class="full-width">
            <f7-col width="50">
              <f7-label class="full-width">Harga Barang</f7-label>
              <div class="">
                <f7-input name="harga" type="text" placeholder="12000" v-model="itemPrice"></f7-input>
              </div>
            </f7-col>
            <f7-col width="50">
              <f7-label class="full-width">Kondisi Barang</f7-label>
              <div class="">
                <label class="label-checkbox item-content">
                  <!-- Checked by default -->
                  <input type="checkbox" name="my-checkbox" v-model="itemCond">
                  <div class="item-media">
                    <i class="icon icon-form-checkbox"></i>
                  </div>
                  <div class="item-inner">
                    <div class="item-title font-sbold text-dgrey">Baru</div>
                  </div>
                </label>
              </div>
            </f7-col>
          </f7-grid>
        </f7-list-item>
        <f7-list-item>
          <f7-label>Kategori</f7-label>
        </f7-list-item>
        <f7-list-item class="input-div select">
          <a href="#" class="item-link smart-select full-width" data-open-in="popup" data-popup-close-text=" ">
            <select name="kategori" v-model="itemCategory">
              <option value="">Kategori Produk</option>
              <option value="1">Fashion &amp; Aksesoris</option>
              <option value="2">Kesehatan &amp; Kecantikan</option>
              <option value="3">Telepon &amp; Gadget</option>
              <option value="4">Komputer</option>
              <option value="5">Rumah &amp; Elektronik</option>
              <option value="6">Anak, Bayi &amp; Mainan</option>
              <option value="7">Sport, Travel &amp; Food</option>
              <option value="8">Fotografi &amp; Video</option>
              <option value="9">Otomotif</option>
              <option value="10">Film, Musik &amp; Buku</option>
            </select>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title">Pilih Kategori Produk</div>
              </div>
            </div>
          </a>
        </f7-list-item>
        <f7-list-item class="center">
          <f7-accordion-item class="full-width">
            <f7-accordion-toggle class="inline-item-toggle">Lengkapi Data Produk</f7-accordion-toggle>
            <f7-accordion-content>
              <div class="input-div select select-warna">
                <f7-label>Pilih Warna</f7-label>
                <a href="#" class="item-link smart-select full-width" data-open-in="popup" data-popup-close-text=" ">
                  <select name="warna" multiple v-model="itemColor">
                    <!-- <option value="">Warna Barang</option> -->
                    <option value="1">Merah</option>
                    <option value="2">Kuning</option>
                    <option value="3">Hijau</option>
                    <option value="4">Biru</option>
                  </select>
                  <div class="item-content">
                    <div class="item-inner">
                      <div class="item-title">Pilih Warna</div>
                    </div>
                  </div>
                </a>
              </div>

              <div class="input-div select select-ukuran">
                <f7-label>Pilih Ukuran</f7-label>
                <a href="/product-ukuran/" class="item-link full-width text-left text-pil-ukuran text-dgrey">
                  Ukuran Barang
                </a>
              </div>

            </f7-accordion-content>
          </f7-accordion-item>
        </f7-list-item>
      </f7-list>

    </f7-block>


    <f7-toolbar class="bg-white tall-toolbar">
      <f7-button class="btn-red" @click="sellItem">Jual Barang</f7-button>

    </f7-toolbar>
  </f7-page>
</template>

<script>
import PictureInput from 'vue-picture-input';
import { tambahProduk, tambahGambar } from '../constants/productMutations.js';

export default {
  name: 'ProductForm',
  components: {
    PictureInput
  },
  data() {
    return {
      title: 'Product Form',
      itemName: 'Macbook Pro',
      itemDesc: 'Lorem ipsum dolor sit amet',
      itemPrice: 15000,
      itemCond: false,
      itemCategory: '',
      itemColor: [],
      size: this.$store.getters.getProductSize,
      itemLength: '',
      itemWidth: '',
      itemHeight: '',
      itemWeight: '',
      images: {
        product: {
          detail: {
            macbook: require('../images/merchant/product/macbook/product-macbook@3x.jpg')
          },
          thumbnail: {
            macbook: require('../images/merchant/product/macbook/product-macbook@3x.jpg')
          }
        }
      },
      input: {
        image: require('../assets/images/add-image.png')
      },
      listImages: [],
      productId: '5a423e0b543e401c1c21f6fc', // Dummy ProductID
      uploadUri: null
    };
  },
  created() {
    this.$store.commit('clearImageProduct');
    this.itemLength = this.size.productLength ? this.size.productLength : '';
    this.itemWidth = this.size.productWidth ? this.size.productWidth : '';
    this.itemHeight = this.size.productHeight ? this.size.productHeight : '';
    this.itemWeight = this.size.productWeight ? this.size.productWeight : '';
    // console.log(this.$apollo);
  },
  beforeDestroy() {
    this.$store.commit('clearImageProduct');
  },
  methods: {
    onChange() {
      var maxUpload = 5;
      var numberUpload = this.listImages.length;
      if (numberUpload >= maxUpload) {
        alert('Maksimal upload 5 gambar');
      } else {
        // console.log('New picture selected!');
        const imageFile = this.$refs.pictureInput.file;
        console.log(imageFile);
        const imageUpload = this.$refs.pictureInput.image;
        if (imageUpload) {
          // console.log(this.$refs.pictureInput.image);
          // console.log('Picture loaded.');
          this.addImage(imageUpload);
          var listImages = {
            id: Math.floor(Math.random() * 100 + 1),
            image: imageUpload
          };
          var imageToStore = {
            imageBlob: imageUpload,
            imageType: imageFile.type
          };

          this.$store.commit('saveImageProduct', imageToStore);
          this.listImages.push(listImages);
        } else {
          console.log('FileReader API not supported: use the <form>, Luke!');
        }
      }
    },
    sellItem: function() {
      const productName = this.itemName;
      const productSku = 123456789;
      const productDesc = this.itemDesc;
      const productVariants = {
        name: 'Black',
        quantity: 100
      };
      const productKeywords = 'Blanja, Blanja.tw, Blanja.hk';
      const productCategory = this.itemCategory;
      const productShipping = {
        length: this.itemLength,
        width: this.itemWidth,
        height: this.itemHeight,
        weight: this.itemWeight
      };
      const productPrice = {
        value: this.itemPrice,
        currency: 'NTD'
      };
      const self = this;

      // DO NOT DELETE
      // this.$apollo
      //   .mutate({
      //     mutation: tambahProduk,
      //     variables: {
      //       input: {
      //         name: productName,
      //         sku: productSku,
      //         description: productDesc,
      //         variants: productVariants,
      //         keywords: productKeywords,
      //         category: productCategory,
      //         shipping: productShipping,
      //         price: productPrice
      //       }
      //     }
      //   })
      //   .then(data => {
      //     // self.productId = data.data.createProduct.id;
      //     // console.log(self.productId);
      //     // this.uploadImages();
      //   })
      //   .catch(error => {
      //     console.error(error);
      //   });

      var imageLength = this.$store.state.productImages.length;
      for (var i = 0; i < imageLength; i++) {
        console.log(this.$store.state.productImages[0]);
      }
      self.createUrlUpload();
    },
    createUrlUpload: function() {
      const self = this;
      this.$apollo
        .mutate({
          mutation: tambahGambar,
          variables: {
            id: this.productId,
            input: {
              priority: 100
            }
          }
        })
        .then(response => {
          var result = response.data;
          console.log(result);
          self.uploadUri = result.addProductImage;
          self.uploadImages();
        })
        .catch(error => {
          console.error(error);
        });
    },
    uploadImages: function() {
      console.log('Upload images..');
    },
    addImage: function() {
      console.log('Add now!');
    }
  }
};

var $$ = Dom7;
$$(document).on('pageBeforeInit', '[data-page*="smart-select"]', function(e) {
  var page = e.detail.page;
  // Add link to add new option
  $$(page.container)
    .find('[data-select-name="warna"] .page-content')
    .append(
      '<div class="content-block no-margin"><a href="#" class="add-option button btn-red margin-lr-5">Tambah Warna</a></div>'
    );
});
$$(document).on('click', 'a.add-option', function(e) {
  //do something to add option here
});
</script>
