<template>
  <f7-page class="bg-grey has-toolbar has-navbar" name="product add">
    <f7-navbar>
      <f7-nav-left>
        <f7-link href="#" @click="$router.back()"><f7-icon icon="icon-arrow-left"></f7-icon></f7-link>
      </f7-nav-left>

      <f7-nav-center>
        Edit Produk
      </f7-nav-center>

    </f7-navbar>

    <div class="wrap-h-137">
      <f7-list class="top-block list-inline add-prod-img">
        <f7-list-item>
          <input type="file" id="input-image" name="" value="" accept="image/*" class="hidden">
          <label for="input-image">
            <img :src="input.image" alt="">
          </label>
        </f7-list-item>
        <f7-list-item>
          <img :src="images.product.thumbnail.macbook" alt="">
        </f7-list-item>
        <f7-list-item>
          <img :src="images.product.thumbnail.macbook" alt="">
        </f7-list-item>
        <f7-list-item>
          <img :src="images.product.thumbnail.macbook" alt="">
        </f7-list-item>
        <f7-list-item>
          <img :src="images.product.thumbnail.macbook" alt="">
        </f7-list-item>
        <f7-list-item>
          <img :src="images.product.thumbnail.macbook" alt="">
        </f7-list-item>
        <f7-list-item>
          <img :src="images.product.thumbnail.macbook" alt="">
        </f7-list-item>


      </f7-list>
    </div>

    <f7-block inner class="margin-t-15">

      <f7-list form class="no-margin product-form">
        <f7-list-item>
          <f7-label>Nama Barang</f7-label>
        </f7-list-item>
        <f7-list-item class="input-div">
          <f7-input name="name" type="text" placeholder="Nama Barang" value="Macbook Pro"></f7-input>

        </f7-list-item>
        <f7-list-item>
          <f7-label>Deskripsi</f7-label>
        </f7-list-item>
        <f7-list-item class="input-div">
          <!-- <f7-input name="deskripsi" type="textarea" placeholder="Deskripsikan barang yang akan anda jual" class="resizable"
          value="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur."></f7-input> -->
          <div class="item-input">
            <textarea class="resizable"></textarea>
          </div>

        </f7-list-item>

        <f7-list-item class="no-gap">
          <f7-grid class="full-width">
            <f7-col width="50">
              <f7-label class="full-width">Harga Barang</f7-label>
              <div class="">
                <f7-input name="harga" type="text" placeholder="Rp 12.000" value="Rp 12.009.800"></f7-input>
              </div>
            </f7-col>
            <f7-col width="50">
              <f7-label class="full-width">Kondisi Barang</f7-label>
              <div class="">
                <label class="label-checkbox item-content">
                  <!-- Checked by default -->
                  <input type="checkbox" name="my-checkbox" value="baru" checked>
                  <div class="item-media">
                    <i class="icon icon-form-checkbox"></i>
                  </div>
                  <div class="item-inner">
                    <div class="item-title font-sbold text-dgrey" checked>Baru</div>
                  </div>
                </label>
              </div>
            </f7-col>
          </f7-grid>
        </f7-list-item>
        <f7-list-item>
          <f7-label>Kategori</f7-label>
        </f7-list-item>
        <f7-list-item class="input-div select">
          <a href="#" class="item-link smart-select full-width" data-open-in="popup" data-popup-close-text=" ">
            <select name="kategori">
              <option value="1">Kategori Produk</option>
              <option value="1">Fashion & Aksesoris</option>
              <option value="2">Kesehatan & Kecantikan</option>
              <option value="2">Telepon & Gadget</option>
              <option value="3" selected>Komputer</option>
              <option value="4">Rumah & Elektronik</option>
              <option value="4">Anak, Bayi & Mainan</option>
              <option value="4">Sport, Travel & Food</option>
              <option value="4">Fotografi & Video</option>
              <option value="4">Otomotif</option>
              <option value="4">Film, Musik & Buku</option>
            </select>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title">Pilih Kategori Produk</div>
              </div>
            </div>
          </a>
        </f7-list-item>
        <f7-list-item class="center">
          <f7-accordion-item class="full-width">
            <f7-accordion-toggle class="inline-item-toggle">Lengkapi Data Produk</f7-accordion-toggle>
            <f7-accordion-content>
              <div class="input-div select select-warna">
                <f7-label>Pilih Warna</f7-label>
                <a href="#" class="item-link smart-select full-width" data-open-in="popup" data-popup-close-text=" ">
                  <select name="warna" multiple>
                    <!-- <option value="">Warna Barang</option> -->
                    <option value="1" selected>Merah</option>
                    <option value="2">Kuning</option>
                    <option value="3" selected>Hijau</option>
                    <option value="4">Biru</option>
                  </select>
                  <div class="item-content">
                    <div class="item-inner">
                      <div class="item-title">Pilih Warna</div>
                    </div>
                  </div>
                </a>
              </div>

              <div class="input-div select select-ukuran">
                <f7-label>Pilih Ukuran</f7-label>
                <a href="/product-ukuran/" class="item-link full-width text-left text-pil-ukuran">
                  Ukuran Barang
                </a>
              </div>

            </f7-accordion-content>
          </f7-accordion-item>
        </f7-list-item>
      </f7-list>

    </f7-block>


    <f7-toolbar class="bg-white tall-toolbar">
      <f7-button class="btn-red"  href="/product-edit/">Jual Barang</f7-button>

    </f7-toolbar>
  </f7-page>
</template>

<script>
export default {
  name: "ProductForm",
  data() {
    return {
      title: "Product Form",
      images: {
        product: {
          detail: {
            macbook: require("../images/merchant/product/macbook/product-macbook@3x.jpg")
          },
          thumbnail: {
            macbook: require("../images/merchant/product/macbook/product-macbook@3x.jpg")
          }
        }
      },
      input: {
        image: require("../assets/images/add-image.png")
      }
    };
  }
};
</script>
