<template>
  <f7-page class="bg-white has-navbar" name="Product">
    <f7-navbar>
      <f7-nav-left>
        <f7-link href="#" @click="$router.back()"><f7-icon icon="icon-arrow-left"></f7-icon></f7-link>
      </f7-nav-left>

      <f7-nav-center>
        Ukuran
      </f7-nav-center>

    </f7-navbar>

    <f7-block>
      <h3 class="product-title">Macbook Pro Retina Display</h3>
      <f7-list form class="no-padding no-margin">
        <f7-list-item>
          <f7-grid class="full-width">
            <f7-col width="50">
              <f7-label class="full-width">Ukuran (Length)</f7-label>
              <div class="">
                <f7-input name="ukuran" type="text" v-model="length"></f7-input>
              </div>
            </f7-col>
            <f7-col width="50">
              <f7-label class="full-width">Satuan</f7-label>
              <div class="">
                <f7-input name="satuan" type="text" placeholder="cm" disabled></f7-input>
              </div>
            </f7-col>
          </f7-grid>
        </f7-list-item>
        <f7-list-item>
          <f7-grid class="full-width">
            <f7-col width="50">
              <f7-label class="full-width">Ukuran (Width)</f7-label>
              <div class="">
                <f7-input name="ukuran" type="text" v-model="width"></f7-input>
              </div>
            </f7-col>
            <f7-col width="50">
              <f7-label class="full-width">Satuan</f7-label>
              <div class="">
                <f7-input name="satuan" type="text" placeholder="cm" disabled></f7-input>
              </div>
            </f7-col>
          </f7-grid>
        </f7-list-item>
        <f7-list-item>
          <f7-grid class="full-width">
            <f7-col width="50">
              <f7-label class="full-width">Ukuran (Height)</f7-label>
              <div class="">
                <f7-input name="ukuran" type="text" v-model="height"></f7-input>
              </div>
            </f7-col>
            <f7-col width="50">
              <f7-label class="full-width">Satuan</f7-label>
              <div class="">
                <f7-input name="satuan" type="text" placeholder="cm" disabled></f7-input>
              </div>
            </f7-col>
          </f7-grid>
        </f7-list-item>
        <f7-list-item>
          <f7-grid class="full-width">
            <f7-col width="50">
              <f7-label class="full-width">Ukuran (Weight)</f7-label>
              <div class="">
                <f7-input name="ukuran" type="text" v-model="weight"></f7-input>
              </div>
            </f7-col>
            <f7-col width="50">
              <f7-label class="full-width">Satuan</f7-label>
              <div class="">
                <f7-input name="satuan" type="text" placeholder="Gr" disabled></f7-input>
              </div>
            </f7-col>
          </f7-grid>
        </f7-list-item>
      </f7-list>
      <f7-button class="btn-red margin-t-25" @click="addSize">{{ status }}</f7-button>

    </f7-block>

  </f7-page>
</template>

<script>
export default {
  name: 'ProductUkuran',
  data() {
    return {
      size: this.$store.getters.getProductSize,
      length: '',
      width: '',
      height: '',
      weight: '',
      loading: false
    }
  },
  created() {
    this.length = this.size.productLength ? this.size.productLength : '';
    this.width = this.size.productWidth ? this.size.productWidth : '';
    this.height = this.size.productHeight ? this.size.productHeight : '';
    this.weight = this.size.productWeight ? this.size.productWeight : '';
    console.log('Product Ukuran is loaded...');
  },
  computed: {
    status: function() {
      return this.loading ? 'Harap tunggu...' : 'Tambah Ukuran';
    }
  },
  methods: {
    addSize: function() {
      if(!this.length || !this.width || !this.height || !this.weight) {
        alert('Masih ada field kosong!');
      } else {
        this.loading = true;
        var addingSize = {
          'productLength': this.length,
          'productWidth': this.width,
          'productHeight': this.height,
          'productWeight': this.weight
        };

        this.$store.commit('addProductSize', addingSize);
        // console.log(this.length + ' ' + this.width + ' ' + this.height + ' ' + this.weight);
        setTimeout(()=>{
           this.loading = false;
        },1000);
      }
    }
  }
}
</script>