<template>
  <f7-page class="bg-grey has-toolbar has-navbar" name="Product">
    <f7-navbar>
      <f7-nav-left>
        <f7-link href="#" @click="$router.back()"><f7-icon icon="icon-arrow-left"></f7-icon></f7-link>
      </f7-nav-left>

      <f7-nav-center>
        Preview Produk
      </f7-nav-center>

    </f7-navbar>

    <f7-list media-list class="top-block list-inline prod-sum">
      <f7-list-item
      title="12 Okt 17"
      subtitle="Mulai dijual"
      >
    </f7-list-item>
    <f7-list-item
    title="103"
    subtitle="Dilihat"
    >
  </f7-list-item>
  <f7-list-item
  title="40"
  subtitle="Terjual"
  >
</f7-list-item>
<f7-list-item
title="12 Nov 17"
subtitle="Terakhir diperbarui"
>
</f7-list-item>
</f7-list>

<f7-block class="product-block">
  <f7-card class="product-item">
    <f7-card-header no-border class="product-preview">
      <img alt="Product Detail" :src="images.product.detail.macbook" class="full-width">
    </f7-card-header>
    <f7-card-content class="product-detail">
      <h5 class="product-title">Macbook Pro Retina Display</h5>
      <p class="product-price">Rp 19.750.000</p>
      <div class="product-desc">
        <p>
          Apple MacBook Pro MD101 Silver Notebook merupakan MacBook Pro berukuran 13.3 inch dengan resolusi 1280 x 800 piksel.
        </p>
        <p>
          Notebook ini juga dilengkapi thunderbolt port, kamera, serta ditunjang kartu graphics Intel HD Graphics 4000 yang
          memberikan Anda kenyamanan dalam menikmati hiburan multimedia seperti menonton film dan bermain game.
        </p>
      </div>
      <f7-list class="product-action">

        <f7-list-item class="product-action-item">
          <div slot="inner-start" class="product-like">40 Orang Menyukai Ini</div>
          <div slot="after" class="product-stock">Stok : 40</div>
        </f7-list-item>
      </f7-list>

    </f7-card-content>
    <f7-card-footer class="available-stock">

      <f7-grid>
        <f7-col width="100" class="font-sbold text-dgrey">Stock yang tersedia</f7-col>
        <f7-col width="100">
          <f7-badge color="white" class="font-sbold product-tag">Gold 15"</f7-badge>
          <f7-badge color="white" class="font-sbold product-tag">Black 15"</f7-badge>
          <f7-badge color="white" class="font-sbold product-tag">Yellow 15"</f7-badge>
        </f7-col>
      </f7-grid>
    </f7-card-footer>
  </f7-card>
</f7-block>


<f7-toolbar class="bg-white tall-toolbar">
  <f7-button class="btn-red"  href="/product-edit/">Edit Produk</f7-button>

</f7-toolbar>
</f7-page>
</template>

<script>
export default {
  name: 'Product',
  data () {
    return {
      title: 'Product Page',
      images: {
        product: {
          detail: {
            macbook: require('../images/merchant/product/macbook/product-macbook@3x.jpg')
          }
        }

      }
    }
  }
};
</script>
