<template>
  <f7-page class="bg-grey has-toolbar has-navbar has-searchbar" name="product-list">
    <f7-navbar>
      <f7-nav-center>Daftar Produk</f7-nav-center>
    </f7-navbar>
    <f7-searchbar cancel-link="Batal" placeholder="Cari produk yang dijual" :clear-button="true"></f7-searchbar>
    <f7-list class="select-block">
      <f7-list-item>
        <f7-col class="select-block-item">
          <f7-input name="sort" type="select" class="select-input">
            <option value="" selected>Urutkan</option>
            <option value="1">Nama</option>
            <option value="2">Harga</option>
          </f7-input>
        </f7-col>
        <f7-col class="select-block-item">
          <f7-input name="category" type="select" class="select-input">
            <option value="" selected>Kategori</option>
            <option value="1">Kategori 1</option>
            <option value="2">Kategori 2</option>
          </f7-input>
        </f7-col>
        <f7-col class="select-block-item">
          <f7-input name="filter" type="select" class="select-input">
            <option value="" selected>Filter</option>
            <option value="1">Filter Type 1</option>
            <option value="2">Filter Type 3</option>
          </f7-input>
        </f7-col>
      </f7-list-item>
    </f7-list>
    <f7-block class="prodlist-title">
      <f7-grid>
        <f7-col width="50"><span class="font-sbold">Produk Saya</span></f7-col>
        <f7-col width="50" class="text-right"><f7-link href="/product-add/" class="font-sbold">Tambah Produk</f7-link></f7-col>
      </f7-grid>
    </f7-block>
    <div class="prod-list">
      <div class="list-block media-list">
          <ul>
              <li>
                  <f7-link href="/product-preview/" class="item-link">
                    <div class="item-content">
                        <div class="item-media">
                            <img :src="images.product.thumbnail.macbook">
                        </div>
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title">Macbook Pro Retina Display</div>
                                <!-- <div class="item-after">Element label</div> -->
                            </div>
                            <div class="item-subtitle">Rp 19.090.887</div>
                            <!-- <div class="item-text">Additional description text</div> -->
                        </div>
                    </div>
                  </f7-link>
              </li>
              <li>
                  <f7-link href="/product-preview/" class="item-link">
                    <div class="item-content">
                        <div class="item-media">
                            <img :src="images.product.thumbnail.indomie">
                        </div>
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title">Indomie Rasa Jagung Premium</div>
                            </div>
                            <div class="item-subtitle">Rp 35.030</div>
                        </div>
                    </div>
                  </f7-link>
              </li>
              <li>
                  <f7-link href="/product-preview/" class="item-link">
                    <div class="item-content">
                        <div class="item-media">
                            <img :src="images.product.thumbnail.mainan">
                        </div>
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title">Mainan Anak</div>
                            </div>
                            <div class="item-subtitle">Rp 105.009</div>
                        </div>
                    </div>
                  </f7-link>
              </li>

          </ul>
      </div>


    </div>

    <f7-toolbar>
      <f7-link href="/home/"><div class="tb-icon icon-home"></div> Home</f7-link>
      <f7-link href="/product/" class="active"><div class="tb-icon icon-produk"></div> Produk</f7-link>
      <f7-link href="/transaction/"><div class="tb-icon icon-cart"></div> Transaksi</f7-link>
      <!-- <f7-link class="toolbar-separator"></f7-link> -->
      <f7-link href="/chat/"><div class="tb-icon icon-messages"></div> Chat</f7-link>
      <f7-link href="/profile/"><div class="tb-icon icon-account"></div> Profil</f7-link>
    </f7-toolbar>

  </f7-page>

</template>
<script>
  export default {
    name: 'product-list',
    data () {
      return {
        title: 'Product Page',
        images: {
          product: {
            thumbnail: {
              macbook: require('../images/merchant/product/macbook/product-macbook.jpg'),
              mainan: require('../images/merchant/product/mainan-anak/product-mainan-anak.jpg'),
              indomie: require('../images/merchant/product/indomie-pack/product-indomie.jpg')
            }
          }

      }
    }
  }
};
</script>
