<template>
  <f7-page class="bg-grey has-toolbar has-navbar" name="userprofile">

    <f7-navbar>
      <f7-nav-center>Profile</f7-nav-center>
    </f7-navbar>

    <f7-block inner class="thumbnail-block">
      <img alt="Photo" :src="dummy.photo" class="thumbnail-photo">
      <h5 class="thumbnail-title">Sleeping.Shop</h5>
      <p class="thumbnail-city">Kota Malang</p>
      <f7-link href="/editprofile/" class="button button-mid button-white">Edit Toko</f7-link>
    </f7-block>


    <f7-list class="cart-block profile-menu">
      <f7-list-item class="cart-content">
        <div slot="inner-start">
          <p class="cart-product-desc">Nama Pemilik</p>
        </div>
        <div slot="after">
          <p class="cart-product">{{ user.name }}</p>
        </div>
      </f7-list-item>
      <f7-list-item class="cart-content">
        <div slot="inner-start">
          <p class="cart-product-desc">Buka Sejak</p>
        </div>
        <div slot="after">
          <p class="cart-product">October 2017</p>
        </div>
      </f7-list-item>
      <f7-list-item class="cart-content">
        <div slot="inner-start">
          <p class="cart-product-desc">Terakhir Online</p>
        </div>
        <div slot="after">
          <p class="cart-product">Hari ini</p>
        </div>
      </f7-list-item>
    </f7-list>

    <f7-list class="cart-block profile-menu">
      <f7-list-item class="cart-content">
        <div slot="inner-start">
          <p class="cart-product-desc">Dukungan Pengiriman</p>
        </div>
        <div slot="after">
          <f7-link href="#" class="cart-delete"><span class="icon icon-chevron-right"></span></f7-link>
        </div>
      </f7-list-item>
      <f7-list-item class="cart-content">
        <div slot="inner-start">
          <p class="cart-product-desc">Rekening</p>
        </div>
        <div slot="after">
          <f7-link href="#" class="cart-delete"><span class="icon icon-chevron-right"></span></f7-link>
        </div>
      </f7-list-item>
      <f7-list-item class="cart-content">
        <div slot="inner-start">
          <p class="cart-product-desc">Ubah Password</p>
        </div>
        <div slot="after">
          <f7-link href="#" class="cart-delete"><span class="icon icon-chevron-right"></span></f7-link>
        </div>
      </f7-list-item>
      <f7-list-item class="cart-content">
        <div slot="inner-start">
          <p class="cart-product-desc"><a @click="logOut">Log Out</a></p>
        </div>
        <div slot="after">
          <f7-link href="#" class="cart-delete"><span class="icon icon-chevron-right"></span></f7-link>
        </div>
      </f7-list-item>
    </f7-list>

    <f7-toolbar>
      <f7-link href="/home/"><div class="tb-icon icon-home"></div> Home</f7-link>
      <f7-link href="/product/"><div class="tb-icon icon-produk"></div> Produk</f7-link>
      <f7-link href="/transaction/"><div class="tb-icon icon-cart"></div> Transaksi</f7-link>
      <f7-link href="/chat/"><div class="tb-icon icon-messages"></div> Chat</f7-link>
      <f7-link href="/profile/" class="active"><div class="tb-icon icon-account"></div> Profil</f7-link>
    </f7-toolbar>

  </f7-page>
</template>


<script>
export default {
  name: "Profile",
  data() {
    return {
      user: this.$store.getters.getUser,
      dummy: {
        photo: require("../images/user/photo-1/user-photo@2x.jpg")
      }
    };
  },
  methods: {
    logOut: function() {
      localStorage.clear();
      this.$f7.mainView.router.load({ url: "/", force: true });
    }
  }
};
</script>
