<template>
  <f7-page class="bg-grey has-toolbar custom-nav has-navbar" name="editprofile">

    <f7-navbar>
      <f7-nav-left>
       <f7-link icon="icon icon-arrow-left" href="/profile/" sliding></f7-link>
      </f7-nav-left>
      <f7-nav-center>Edit Toko</f7-nav-center>
    </f7-navbar>

    <f7-list form class="form-block form-inline edit-form">
      <f7-list-item class="inline-group">
        <f7-label class="form-label">Nama Toko</f7-label>
        <f7-input type="text" placeholder="Nama Toko Anda" class="form-input input-right" value="Sleeping.Shop"></f7-input>
      </f7-list-item>
      <f7-list-item class="inline-group">
        <f7-label class="form-label">No Telepon</f7-label>
        <f7-input type="tel" placeholder="Nomor Telepon Toko Anda" class="form-input input-right" value="+62 812 214 3133 44"></f7-input>
      </f7-list-item>
      <f7-list-item class="inline-group">
        <f7-label class="form-label">Lokasi</f7-label>
        <f7-input type="text" placeholder="Lokasi Toko Anda" class="form-input input-right" value="Malang, Indonesia"></f7-input>
      </f7-list-item>
    </f7-list>

    <f7-toolbar bottom class="bottom-button-toolbar">
      <f7-link href="/profile/" class="button button-full button-red">Simpan Profile</f7-link>
    </f7-toolbar>

  </f7-page>
</template>

<script>
export default {
  name: "editprofile",
  data() {}
};
</script>
