<template>
  <f7-page name="register" class="has-toolbar has-navbar custom-nav chatlist register">

    <f7-navbar>
      <f7-nav-left class="register-left">
        <!-- <f7-link href="#" @click="$router.back()"><f7-icon icon="icon-arrow-left"></f7-icon></f7-link> -->
        <f7-link href="/login/"><f7-icon icon="icon-arrow-left"></f7-icon></f7-link>
      </f7-nav-left>
      <f7-nav-center>
        Daftar
      </f7-nav-center>
    </f7-navbar>

    <f7-block class="auth-block">
<h5 class="title">Masuk ke <span class="title-logo"></span></h5>
<p class="title-caption">Masukkan data diri anda untuk menjadi anggota BLANJA</p>
    </f7-block>

    <f7-list form class="form-block">
        <f7-list-item class="label-block">
            <f7-label class="form-label">Nama</f7-label>
        </f7-list-item>
        <f7-list-item class="input-block">
            <f7-input type="text" placeholder="Nama" class="form-input"/>
        </f7-list-item>
        <f7-list-item class="label-block">
            <f7-label class="form-label">Nomor Telepon</f7-label>
        </f7-list-item>
        <f7-list-item class="input-block input-group">
            <f7-label class="form-input">+62</f7-label>
            <f7-input type="tel" placeholder="Nomor Telepon" class="form-input"/>
        </f7-list-item>
        <f7-list-item class="label-block">
            <f7-label class="form-label">Password</f7-label>
        </f7-list-item>
        <f7-list-item class="input-block">
            <f7-input type="password" placeholder="Password" class="form-input"/>
        </f7-list-item>
        <f7-list-item class="label-block">
            <f7-label class="form-label">Jenis Kelamin</f7-label>
        </f7-list-item>
        <f7-list-item class="radio-block radio-group">
            <input type="radio" name="gender" id="male"/>
            <label for="male" class="radio-label">Pria</label>
            <input type="radio" name="gender" id="female"/>
            <label for="female" class="radio-label">Wanita</label>
        </f7-list-item>
        <f7-list-item class="label-block">
            <f7-label class="form-label">Alamat</f7-label>
        </f7-list-item>
        <f7-list-item class="input-block">
            <f7-input type="textarea" placeholder="" class="form-input"></f7-input>
        </f7-list-item>
        <f7-list-item>
            <f7-button class="button button-full button-red">Daftar Sekarang</f7-button>
        </f7-list-item>
        <f7-list-item class="info-block">
            <p class="info-desc">Sudah punya akun? <f7-link href="/login/">Login disini</f7-link></p>
        </f7-list-item>
    </f7-list>

  </f7-page>
</template>

<script>
export default {
  name: 'register',
  data() {
    return {};
  }
};
</script>
