<template>
  <f7-page class="bg-grey has-navbar" name="statistik">
    <f7-navbar>
      <f7-nav-left>
        <f7-link href="#" @click="$router.back()"><f7-icon icon="icon-arrow-left"></f7-icon></f7-link>
      </f7-nav-left>

      <f7-nav-center>
        Statistik Penjualan
      </f7-nav-center>

    </f7-navbar>

    <f7-block inner class="no-margin margin-t-15 margin-b-20">
      <f7-buttons class="padding-tb-10">
        <f7-button tab-link="#tab-minggu" active>Minggu</f7-button>
        <f7-button tab-link="#tab-bulan">Bulan</f7-button>
        <f7-button tab-link="#tab-tahun">Tahun</f7-button>
      </f7-buttons>

      <f7-tabs>
        <f7-tab id="tab-minggu" active>
          <div class="center padding-tb-20">
            <f7-link class="text-grey">Nov 10 - 17, 2017 <div class="icon-chev-down"></div></f7-link>
            <h1 class="text-dgrey no-margin size-26 font-sbold">Rp 11.090.889</h1>
          </div>
          <div class="statistik">
            <img :src="images.statistik" alt="" class="full-width">
          </div>

          <div class="stat-menu-wrapper">
            <f7-list class="stat-menu list-inline">
              <f7-list-item ><a href="#stat-a" class="tab-link active">Ringkasan Laporan</a></f7-list-item>
              <f7-list-item ><a href="#stat-b" class="tab-link">Produk Terlaris</a></f7-list-item>
              <f7-list-item ><a href="#stat-c" class="tab-link">Pendapatan</a></f7-list-item>
            </f7-list>
          </div>

          <f7-tabs>
            <f7-tab id="stat-a" active>
              <f7-grid class="padding-tb-20 stat-grid">
                <f7-col width="50" class="border-right">
                  <div class="stat-title text-grey">Pendapatan <div class="icon-triangle"></div></div>
                  <div class="size-18 font-sbold text-dark padding-tb-5">Rp 253.900</div>
                  <f7-badge color="bgreen">+6.5%</f7-badge>
                </f7-col>
                <f7-col width="50">
                  <div class="stat-title text-grey">Produk Terjual <div class="icon-triangle"></div></div>
                  <div class="size-18 font-sbold text-dark padding-tb-5">18 Produk</div>
                  <f7-badge color="bgreen">+10</f7-badge>
                </f7-col>
              </f7-grid>
            </f7-tab>
            <f7-tab id="stat-b">
              <f7-grid class="padding-tb-20 stat-grid">
                <f7-col width="50" class="border-right">
                  <div class="stat-title text-grey">Pendapatan <div class="icon-triangle"></div></div>
                  <div class="size-18 font-sbold text-dark padding-tb-5">Rp 253.900</div>
                  <f7-badge color="bgreen">+16.5%</f7-badge>
                </f7-col>
                <f7-col width="50">
                  <div class="stat-title text-grey">Produk Terjual <div class="icon-triangle"></div></div>
                  <div class="size-18 font-sbold text-dark padding-tb-5">18 Produk</div>
                  <f7-badge color="bgreen">+0</f7-badge>
                </f7-col>
              </f7-grid>
            </f7-tab>
            <f7-tab id="stat-c">
              <f7-grid class="padding-tb-20 stat-grid">
                <f7-col width="50" class="border-right">
                  <div class="stat-title text-grey">Pendapatan <div class="icon-triangle"></div></div>
                  <div class="size-18 font-sbold text-dark padding-tb-5">Rp 253.900</div>
                  <f7-badge color="bgreen">+12.5%</f7-badge>
                </f7-col>
                <f7-col width="50">
                  <div class="stat-title text-grey">Produk Terjual <div class="icon-triangle"></div></div>
                  <div class="size-18 font-sbold text-dark padding-tb-5">18 Produk</div>
                  <f7-badge color="bgreen">+7</f7-badge>
                </f7-col>
              </f7-grid>
            </f7-tab>
          </f7-tabs>

        </f7-tab>
        <f7-tab id="tab-bulan">
          <div class="center padding-tb-20">
            <f7-link class="text-grey">Nov 10 - Dec 17, 2017 <div class="icon-chev-down"></div></f7-link>
            <h1 class="text-dgrey no-margin size-26 font-sbold">Rp 12.090.889</h1>
          </div>
          <div class="statistik">
            <img :src="images.statistik" alt="" class="full-width">
          </div>

          <div class="stat-menu-wrapper">
            <f7-list class="stat-menu list-inline">
              <f7-list-item ><a href="#stat-ba" class="tab-link active">Ringkasan Laporan</a></f7-list-item>
              <f7-list-item ><a href="#stat-bb" class="tab-link">Produk Terlaris</a></f7-list-item>
              <f7-list-item ><a href="#stat-bc" class="tab-link">Pendapatan</a></f7-list-item>
            </f7-list>
          </div>

          <f7-tabs>
            <f7-tab id="stat-ba" active>
              <f7-grid class="padding-tb-20 stat-grid">
                <f7-col width="50" class="border-right">
                  <div class="stat-title text-grey">Pendapatan <div class="icon-triangle"></div></div>
                  <div class="size-18 font-sbold text-dark padding-tb-5">Rp 253.900</div>
                  <f7-badge color="bgreen">+6.5%</f7-badge>
                </f7-col>
                <f7-col width="50">
                  <div class="stat-title text-grey">Produk Terjual <div class="icon-triangle"></div></div>
                  <div class="size-18 font-sbold text-dark padding-tb-5">18 Produk</div>
                  <f7-badge color="bgreen">+10</f7-badge>
                </f7-col>
              </f7-grid>
            </f7-tab>
            <f7-tab id="stat-bb">
              <f7-grid class="padding-tb-20 stat-grid">
                <f7-col width="50" class="border-right">
                  <div class="stat-title text-grey">Pendapatan <div class="icon-triangle"></div></div>
                  <div class="size-18 font-sbold text-dark padding-tb-5">Rp 253.900</div>
                  <f7-badge color="bgreen">+16.5%</f7-badge>
                </f7-col>
                <f7-col width="50">
                  <div class="stat-title text-grey">Produk Terjual <div class="icon-triangle"></div></div>
                  <div class="size-18 font-sbold text-dark padding-tb-5">18 Produk</div>
                  <f7-badge color="bgreen">+0</f7-badge>
                </f7-col>
              </f7-grid>
            </f7-tab>
            <f7-tab id="stat-bc">
              <f7-grid class="padding-tb-20 stat-grid">
                <f7-col width="50" class="border-right">
                  <div class="stat-title text-grey">Pendapatan <div class="icon-triangle"></div></div>
                  <div class="size-18 font-sbold text-dark padding-tb-5">Rp 253.900</div>
                  <f7-badge color="bgreen">+12.5%</f7-badge>
                </f7-col>
                <f7-col width="50">
                  <div class="stat-title text-grey">Produk Terjual <div class="icon-triangle"></div></div>
                  <div class="size-18 font-sbold text-dark padding-tb-5">18 Produk</div>
                  <f7-badge color="bgreen">+7</f7-badge>
                </f7-col>
              </f7-grid>
            </f7-tab>
          </f7-tabs>
        </f7-tab>
        <f7-tab id="tab-tahun">
          <div class="center padding-tb-20">
            <f7-link class="text-grey">Nov 10, 2016 - Nov 17, 2017 <div class="icon-chev-down"></div></f7-link>
            <h1 class="text-dgrey no-margin size-26 font-sbold">Rp 13.090.889</h1>
          </div>
          <div class="statistik">
            <img :src="images.statistik" alt="" class="full-width">
          </div>

          <div class="stat-menu-wrapper">
            <f7-list class="stat-menu list-inline">
              <f7-list-item ><a href="#stat-ta" class="tab-link active">Ringkasan Laporan</a></f7-list-item>
              <f7-list-item ><a href="#stat-tb" class="tab-link">Produk Terlaris</a></f7-list-item>
              <f7-list-item ><a href="#stat-tc" class="tab-link">Pendapatan</a></f7-list-item>
            </f7-list>
          </div>

          <f7-tabs>
            <f7-tab id="stat-ta" active>
              <f7-grid class="padding-tb-20 stat-grid">
                <f7-col width="50" class="border-right">
                  <div class="stat-title text-grey">Pendapatan <div class="icon-triangle"></div></div>
                  <div class="size-18 font-sbold text-dark padding-tb-5">Rp 253.900</div>
                  <f7-badge color="bgreen">+6.5%</f7-badge>
                </f7-col>
                <f7-col width="50">
                  <div class="stat-title text-grey">Produk Terjual <div class="icon-triangle"></div></div>
                  <div class="size-18 font-sbold text-dark padding-tb-5">18 Produk</div>
                  <f7-badge color="bgreen">+10</f7-badge>
                </f7-col>
              </f7-grid>
            </f7-tab>
            <f7-tab id="stat-tb">
              <f7-grid class="padding-tb-20 stat-grid">
                <f7-col width="50" class="border-right">
                  <div class="stat-title text-grey">Pendapatan <div class="icon-triangle"></div></div>
                  <div class="size-18 font-sbold text-dark padding-tb-5">Rp 253.900</div>
                  <f7-badge color="bgreen">+16.5%</f7-badge>
                </f7-col>
                <f7-col width="50">
                  <div class="stat-title text-grey">Produk Terjual <div class="icon-triangle"></div></div>
                  <div class="size-18 font-sbold text-dark padding-tb-5">18 Produk</div>
                  <f7-badge color="bgreen">+0</f7-badge>
                </f7-col>
              </f7-grid>
            </f7-tab>
            <f7-tab id="stat-tc">
              <f7-grid class="padding-tb-20 stat-grid">
                <f7-col width="50" class="border-right">
                  <div class="stat-title text-grey">Pendapatan <div class="icon-triangle"></div></div>
                  <div class="size-18 font-sbold text-dark padding-tb-5">Rp 253.900</div>
                  <f7-badge color="bgreen">+12.5%</f7-badge>
                </f7-col>
                <f7-col width="50">
                  <div class="stat-title text-grey">Produk Terjual <div class="icon-triangle"></div></div>
                  <div class="size-18 font-sbold text-dark padding-tb-5">18 Produk</div>
                  <f7-badge color="bgreen">+7</f7-badge>
                </f7-col>
              </f7-grid>
            </f7-tab>
          </f7-tabs>
        </f7-tab>
      </f7-tabs>

    </f7-block>



  </f7-page>
</template>

<script>
export default {
  name: "stats",
  data() {
    return {
      title: "Statistik",
      images: {
        statistik: require("../assets/images/chart.png")
      }
    };
  }
};
</script>
