<template>
  <f7-page class="bg-grey has-toolbar has-navbar" name="Product">
    <f7-navbar>
      <f7-nav-left>
        <f7-link href="#" @click="$router.back()"><f7-icon icon="icon-arrow-left"></f7-icon></f7-link>
      </f7-nav-left>
      <f7-nav-center>
        TRV/IIX45T/33221
      </f7-nav-center>
      <f7-nav-right>
        <f7-link href="#" data-popover=".popmen-5" open-popover><div class="tri-dots-white"></div></f7-link>
        <f7-popover class="popmen-5 pop-menu">
          <f7-block class="">
            <f7-list>
              <f7-list-item link="#">Detail</f7-list-item>
              <f7-list-item link="#">Hapus</f7-list-item>
            </f7-list>

          </f7-block>
        </f7-popover>
        </f7-nav-right>
    </f7-navbar>

    <f7-block inner class="top-block no-margin margin-t-15 center">
      <img :src="images.product.detail.macbook" alt="" width="70" class="margin-t-15">
      <h1 class="product-title no-margin margin-t-15">Macbook Pro Retina Display</h1>
      <div class="text-grey margin-b-20">22 JANUARI 2017 - DIKIRIM</div>
    </f7-block>

    <f7-list media-list class="top-block list-inline prod-sum flipped-title">
      <f7-list-item
      title="12 Okt 17"
      subtitle="Tanggal Transaksi"
      >
    </f7-list-item>
    <f7-list-item
    title="3 Item"
    subtitle="Barang"
    >
  </f7-list-item>
  <f7-list-item class="width-130"
  title="Rp 32.000.050"
  subtitle="Total Harga"
  >
</f7-list-item>

</f7-list>

<f7-block inner class="no-margin">
  <div class="accordion-item accordion-item-expanded">
    <div class="accordion-item-toggle toggle-title font-sbold">DETAIL PRODUK</div>
    <div class="accordion-item-content size-15">
      <div class="text-grey margin-t-15 no-margin">Catatan</div>
      <div class="font-sbold">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </div>
      <div class="text-grey margin-t-15 no-margin">Variasi</div>
      <div class="font-sbold">
        Black 15", Gold 15", Pink 17
      </div>
    </div>
  </div>
</f7-block>
<f7-block inner class="no-margin margin-t-15">
  <div class="accordion-item accordion-item-expanded">
    <div class="accordion-item-toggle toggle-title font-sbold">ALAMAT TUJUAN</div>
    <div class="accordion-item-content size-15">
      <div class="margin-t-15 font-sbold">
        Jl. Kapal Layar No. 17 RT.03 RW. 09
        Malang Jawa Timur
      </div>
      <div class="text-grey margin-t-15 no-margin">Penerima</div>
      <div class="font-sbold">
        Bambang Sudais
      </div>
      <div class="text-grey margin-t-15 no-margin">Jasa Pengiriman</div>
      <div class="font-sbold">
        JNE Reguler
      </div>
      <div class="text-grey margin-t-15 no-margin">Ongkos Kirim</div>
      <div class="font-sbold">
        Rp 15.000
      </div>
    </div>
  </div>
</f7-block>


<f7-toolbar class="bg-white tall-toolbar">
  <f7-grid class="full-width">
    <f7-col width="60"><f7-button class="btn-red"  href="/#/">Upload Resi</f7-button></f7-col>
    <f7-col width="40"><f7-button class="btn-white"  href="/#/">Tolak</f7-button></f7-col>
  </f7-grid>

</f7-toolbar>
</f7-page>
</template>

<script>
export default {
  name: 'Product',
  data () {
    return {
      title: 'Product Page',
      images: {
        product: {
          detail: {
            macbook: require('../images/merchant/product/macbook/product-macbook@3x.jpg')
          }
        }

      }
    }
  }
};
</script>
