<template>
  <f7-page class="bg-grey has-toolbar has-navbar" name="transaksi">
    <f7-navbar>

      <f7-nav-center>
        Transaksi
      </f7-nav-center>
      <f7-nav-right>
        <f7-icon icon="icon-search"></f7-icon>
      </f7-nav-right>

    </f7-navbar>

    <f7-block class="">
      <f7-buttons class="">
        <f7-button tab-link=".tab-all" active>All</f7-button>
        <f7-button tab-link=".tab-proses">Proses</f7-button>
        <f7-button tab-link=".tab-dikirim">Dikirim</f7-button>
      </f7-buttons>

      <f7-tabs>
        <f7-tab class="tab-all" active>
          <h4>Semua Transaksi</h4>

          <div class="list-block media-list no-margin no-padding trans-list">
            <ul>
              <li>
                <div class="item-content">
                  <div class="item-media">
                    <img :src="images.macbook">
                  </div>
                  <div class="item-inner">
                    <div class="item-title-row">
                      <f7-link href="/transaction-detail/">
                        <div class="item-title">Macbook Pro Retina Display</div>
                      </f7-link>
                      <div class="item-after">
                        <f7-link href="#" class="anu" data-popover=".popmen-1" open-popover><div class="tri-dots"></div></f7-link>
                        <f7-popover class="popmen-1 pop-menu">
                          <f7-block class="">
                            <f7-list>
                              <f7-list-item link="#">Detail</f7-list-item>
                              <f7-list-item link="#">Hapus</f7-list-item>
                            </f7-list>

                          </f7-block>
                        </f7-popover>
                      </div>
                    </div>
                    <div class="item-subtitle">IIX/FVASSWAR/2334</div>
                    <div class="item-text">Rp 19.000.456 - Hitam 15"</div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="list-block media-list no-margin no-padding trans-footer">
            <ul>
              <li>
                <div class="item-content">
                  <div class="item-media">
                    <img :src="images.budi">
                  </div>
                  <div class="item-inner">
                    <div class="item-title-row">
                      <div class="item-title">Puji Ari - Pembeli</div>
                      <div class="item-after"><span class="text-red">22 JAN - DIKIRIM</span></div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>

          <div class="margin-t-15"></div>

          <div class="list-block media-list no-margin no-padding trans-list">
            <ul>
              <li>
                <div class="item-content">
                  <div class="item-media">
                    <img :src="images.macbook">
                  </div>
                  <div class="item-inner">
                    <div class="item-title-row">
                      <f7-link href="/transaction-detail/">
                        <div class="item-title">Macbook Pro Retina Display</div>
                      </f7-link>
                      <div class="item-after">
                        <f7-link href="#" data-popover=".popmen-2" open-popover><div class="tri-dots"></div></f7-link>
                        <f7-popover class="popmen-2 pop-menu">
                          <f7-block class="">
                            <f7-list>
                              <f7-list-item link="#">Detail</f7-list-item>
                              <f7-list-item link="#">Hapus</f7-list-item>
                            </f7-list>

                          </f7-block>
                        </f7-popover>
                      </div>
                    </div>
                    <div class="item-subtitle">IIX/FVASSWAR/2364</div>
                    <div class="item-text">Rp 19.000.456 - Hitam 15"</div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="list-block media-list no-margin no-padding trans-footer">
            <ul>
              <li>
                <div class="item-content">
                  <div class="item-media">
                    <img :src="images.budi">
                  </div>
                  <div class="item-inner">
                    <div class="item-title-row">
                      <div class="item-title">Puji Ari - Pembeli</div>
                      <div class="item-after"><span class="text-orange">22 JAN - DIPROSES</span></div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>

        </f7-tab>
        <f7-tab class="tab-proses">
          <h4>Transaksi Diproses</h4>

          <div class="list-block media-list no-margin no-padding trans-list">
            <ul>
              <li>
                <div class="item-content">
                  <div class="item-media">
                    <img :src="images.macbook">
                  </div>
                  <div class="item-inner">
                    <div class="item-title-row">
                      <f7-link href="/transaction-detail/">
                        <div class="item-title">Macbook Pro Retina Display</div>
                      </f7-link>
                      <div class="item-after">
                        <f7-link href="#" data-popover=".popmen-3" open-popover><div class="tri-dots"></div></f7-link>
                        <f7-popover class="popmen-3 pop-menu">
                          <f7-block class="">
                            <f7-list>
                              <f7-list-item link="#">Detail</f7-list-item>
                              <f7-list-item link="#">Hapus</f7-list-item>
                            </f7-list>

                          </f7-block>
                        </f7-popover>
                      </div>
                    </div>
                    <div class="item-subtitle">IIX/FVASSWAR/2334</div>
                    <div class="item-text">Rp 19.000.456 - Hitam 15"</div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="list-block media-list no-margin no-padding trans-footer">
            <ul>
              <li>
                <div class="item-content">
                  <div class="item-media">
                    <img :src="images.budi">
                  </div>
                  <div class="item-inner">
                    <div class="item-title-row">
                      <div class="item-title">Puji Ari - Pembeli</div>
                      <div class="item-after"><span class="text-orange">22 JAN - DIPROSES</span></div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </f7-tab>
        <f7-tab class="tab-dikirim">
          <h4>Transaksi Dikirim</h4>

          <div class="list-block media-list no-margin no-padding trans-list">
            <ul>
              <li>
                <div class="item-content">
                  <div class="item-media">
                    <img :src="images.macbook">
                  </div>
                  <div class="item-inner">
                    <div class="item-title-row">
                      <f7-link href="/transaction-detail/">
                        <div class="item-title">Macbook Pro Retina Display</div>
                      </f7-link>
                      <div class="item-after">
                        <f7-link href="#" data-popover=".popmen-4" open-popover><div class="tri-dots"></div></f7-link>
                        <f7-popover class="popmen-4 pop-menu">
                          <f7-block class="">
                            <f7-list>
                              <f7-list-item link="#">Detail</f7-list-item>
                              <f7-list-item link="#">Hapus</f7-list-item>
                            </f7-list>

                          </f7-block>
                        </f7-popover>
                      </div>
                    </div>
                    <div class="item-subtitle">IIX/FVASSWAR/2334</div>
                    <div class="item-text">Rp 19.000.456 - Hitam 15"</div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="list-block media-list no-margin no-padding trans-footer">
            <ul>
              <li>
                <div class="item-content">
                  <div class="item-media">
                    <img :src="images.budi">
                  </div>
                  <div class="item-inner">
                    <div class="item-title-row">
                      <div class="item-title">Puji Ari - Pembeli</div>
                      <div class="item-after"><span class="text-red">22 JAN - DIKIRIM</span></div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </f7-tab>
      </f7-tabs>

    </f7-block>

    <f7-toolbar>
      <f7-link href="/home/"><div class="tb-icon icon-home"></div> Home</f7-link>
      <f7-link href="/product/"><div class="tb-icon icon-produk"></div> Produk</f7-link>
      <f7-link href="/transaction/" class="active"><div class="tb-icon icon-cart"></div> Transaksi</f7-link>
      <f7-link href="/chat/"><div class="tb-icon icon-messages"></div> Chat</f7-link>
      <f7-link href="/profile/"><div class="tb-icon icon-account"></div> Profil</f7-link>
    </f7-toolbar>

  </f7-page>
</template>

<script>
export default {
  name: "trans",
  data() {
    return {
      title: "Transaction",
      images: {
        macbook: require("../images/merchant/product/macbook/product-macbook.jpg"),
        mainan: require("../images/merchant/product/mainan-anak/product-mainan-anak.jpg"),
        indomie: require("../images/merchant/product/indomie-pack/product-indomie.jpg"),
        budi: require("../images/user/photo-1/user-photo.jpg")
      }
    };
  }
};
</script>
