@charset "UTF-8";

@font-face {
  font-family: "Commerce";
  src:url("../fonts/ecommerce.eot");
  src:url("../fonts/ecommerce.eot?#iefix") format("embedded-opentype"),
    url("../fonts/ecommerce.woff") format("woff"),
    url("../fonts/ecommerce.ttf") format("truetype"),
    url("../fonts/ecommerce.svg#ecommerce") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "Commerce" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "Commerce" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cart:before {
  content: "\62";
}
.icon-cross:before {
  content: "\63";
}
.icon-desktop:before {
  content: "\64";
}
.icon-fork-knife:before {
  content: "\65";
}
.icon-forward:before {
  content: "\66";
}
.icon-full-love:before {
  content: "\67";
}
.icon-hamburger:before {
  content: "\68";
}
.icon-home:before {
  content: "\69";
}
.icon-left-arrow:before {
  content: "\6a";
}
.icon-love:before {
  content: "\6b";
}
.icon-nav-right:before {
  content: "\6c";
}
.icon-user:before {
  content: "\6d";
}
.icon-tag:before {
  content: "\6e";
}
.icon-star:before {
  content: "\6f";
}
.icon-shirt:before {
  content: "\70";
}
.icon-search:before {
  content: "\71";
}
.icon-comment:before {
  content: "\61";
}
.icon-shape:before {
  content: "\72";
}
.icon-combined-shape:before {
  content: "\73";
}
