@font-face {
  font-family: 'blanja_iconset';
  src:  url('../fonts/blanja_iconset.eot?n7n5s4');
  src:  url('../fonts/blanja_iconset.eot?n7n5s4#iefix') format('embedded-opentype'),
    url('../fonts/blanja_iconset.ttf?n7n5s4') format('truetype'),
    url('../fonts/blanja_iconset.woff?n7n5s4') format('woff'),
    url('../fonts/blanja_iconset.svg?n7n5s4#blanja_iconset') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'blanja_iconset' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-account:before {
  content: "\e900";
  color: inherit;
}
.icon-arrow-left:before {
  content: "\e901";
  color: inherit;
}
.icon-camera:before {
  content: "\e902";
  color: inherit;
}
.icon-cart:before {
  content: "\e903";
  color: inherit;
}
.icon-chevron-right:before {
  content: "\e904";
  color: inherit;
}
.icon-close:before {
  content: "\e905";
  color: inherit;
}
.icon-disukai:before {
  content: "\e906";
  color: inherit;
}
.icon-elektronik:before {
  content: "\e907";
  color: inherit;
}
.icon-fashion:before {
  content: "\e908";
  color: inherit;
}
.icon-hamburger:before {
  content: "\e909";
  color: inherit;
}
.icon-handphone:before {
  content: "\e90a";
  color: inherit;
}
.icon-home:before {
  content: "\e90b";
  color: inherit;
}
.icon-information:before {
  content: "\e90c";
  color: inherit;
}
.icon-kuliner:before {
  content: "\e90d";
  color: inherit;
}
.icon-lainnya:before {
  content: "\e90e";
  color: inherit;
}
.icon-like:before {
  content: "\e90f";
  color: inherit;
}
.icon-message:before {
  content: "\e910";
  color: inherit;
}
.icon-messages:before {
  content: "\e911";
  color: inherit;
}
.icon-more:before {
  content: "\e912";
  color: inherit;
}
.icon-produk:before {
  content: "\e913";
  color: inherit;
}
.icon-promo:before {
  content: "\e914";
  color: inherit;
}
.icon-search:before {
  content: "\e915";
  color: inherit;
}
.icon-setting:before {
  content: "\e916";
  color: inherit;
}
.icon-share:before {
  content: "\e917";
  color: inherit;
}
.icon-star:before {
  content: "\e918";
  color: inherit;
}
.icon-tambah:before {
  content: "\e919";
  color: inherit;
}
