/* Navbar */
.navbar{
    font-family: 'proxima_novasemibold', Fallback, sans-serif;
}

/* --- Authentication --- */
/* Title */
.auth-block{
    margin: 0;
    background: #fff;
    text-align: center;
    padding: 40px 100px;
}
.auth-block .title{
    font-size: 18px;
    line-height: 1.53;
    margin-bottom: 0;
}
.auth-block .title-logo{
    background: url(../../images/logo/logo-red/blanja@3x.png) no-repeat;
    background-size: cover;
    width: 86px;
    height: 17px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    top: 3px;
}
.auth-block .title-caption{
    font-family: 'Proxima Nova Regular', Fallback, sans-serif;
    font-size: 14px;
    line-height: 1.43;
    color: #787878;
    margin-top: 0;
    margin-bottom: 0;
}

/* Form Content */
.form-block{
    margin-top: 0;
}
form.list-block{
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
}

/* Form Labels */
.form-block .form-label{
    font-family: 'Proxima Nova Regular', Fallback, sans-serif;
    font-size: 14px;
    line-height: 1.21;
    color: #787878;
}
.form-block .label-block .item-content{
    min-height: 20px;
}
.form-block .label-block .item-inner{
    padding-top: 0;
    padding-bottom: 0;
    min-height: inherit;
}

/* Form Inputs */
.form-block .input-block{
    margin-bottom: 20px;
}
.form-block .input-block .item-content{
    min-height: 15px;
}
.form-block .input-block .item-inner{
    padding-top: 0;
    padding-bottom: 0;
    min-height: inherit;
}
.form-block .form-input{
    font-family: 'Proxima Nova Semibold', Fallback, sans-serif;
    border-bottom: 1px solid #d9d9d9;
    margin-top: 0;
    margin-bottom: 0;
}
.form-block .form-input input,
.form-block .form-input textarea{
    font-size: 14px;
    color: #4a4a4a;
    border-bottom: none;
}
.form-block .form-input input{
    height: 30px;
    padding-bottom: 5px;
}
.form-block .form-input textarea{
    height: 44px;
}

/* Input Group */
.form-block .input-group .item-inner{
    border-bottom: 1px solid #d9d9d9;
    padding-right: 0;
    margin-right: 15px;
}
.form-block .input-group .form-input.label{
    font-size: 14px;
    line-height: normal;
    color: #4a4a4a;
    height: auto;
    margin-top: 6px;
    margin-bottom: 6px;
    padding: 4px 14px 4px 0;
    width: auto;
    border-bottom: none;
    border-right: 1px solid #d9d9d9;
}
.form-block .input-group .form-input{
    border-bottom: none;
    height: auto;
    padding-left: 14px;
}
.form-block .input-group .item-title.label+.item-input{
    margin-left: 0;
}

/* - Radio / Checkbox - */
.radio-block{
    margin-bottom: 10px;
}
.radio-block .radio-label{
    font-family: 'Proxima Nova Semibold', Fallback, sans-serif;
    font-size: 14px;
    color: #4a4a4a;
    margin-right: 32px;
}
.radio-block input[type=checkbox]:not(old),
.radio-block input[type=radio   ]:not(old){
    width   : 22px;
    margin  : 0;
    padding : 0;
    opacity : 0;
}
.radio-block input[type=checkbox]:not(old) + label,
.radio-block input[type=radio   ]:not(old) + label{
    display      : inline-block;
    margin-left  : -22px;
    padding-left : 30px;
    background   : url('../../images/icons/radio-item@2x.png') no-repeat 0 0;
    line-height  : 22px;
}
.radio-block input[type=checkbox]:not(old):checked + label{
  background-position : 0 -22px;
}

.radio-block input[type=radio]:not(old):checked + label{
  background-position : 0 -22px;
}
.radio-group .item-inner{
    justify-content: flex-start;
}

/* Inline Group */
.form-inline .inline-group{
    border-bottom: solid 1px #ededed;
    margin-bottom: 0;
}
.form-inline .form-input{
    border-bottom: none;
}
.inline-group .radio-label{
    margin-right: 0;
}

/* Textfield Right Input */
.input-right input{
    text-align: right;
}

/* - Information - */
.info-block{
    text-align: center;
    padding-bottom: 20px;
}
.info-block .item-content,
.info-block .item-inner{
    justify-content: center;
}
.info-block .info-desc{
    font-family: 'Proxima Nova Regular', Fallback, sans-serif;
    font-size: 14px;
    line-height: 1.71;
    color: #787878;
}
.info-desc .link{
    color: #ea0f00;
}

/* Inline Group */
form.form-inline .item-content{
    margin-bottom: 0;
}
.form-inline .inline-group{
    border-bottom: solid 1px #ededed;
    margin-bottom: 0;
}
.form-inline .form-input input{
    border-bottom: none;
}
.inline-group .radio-label{
    margin-right: 0;
}

/* Textfield Right Input */
.input-right input{
    text-align: right;
    border-bottom: none;
}

/* --- Button --- */
/* Buttons */
.button{
    font-family: 'proxima_nova_rgbold', Fallback, sans-serif;
    font-weight: normal;
    line-height: normal;
    text-transform: uppercase;
    justify-content: center;
}
.button-first{
    margin-right: 10px;
}

/* Button Sizes */
.button-min{
    width: 80px;
    height: 30px;
    border-radius: 4px;
    font-size: 14px;
    padding: 8px 10px;
}
.button-mid{
    width: auto;
    height: 40px;
    font-size: 14px;
    border-radius: 4px;
    padding: 0 10px;
    line-height: 40px;
    letter-spacing: 0.3px;
    text-align: center;
}
.button-full{
    width: 100%;
    height: auto;
    padding: 12px 0;
    font-size: 16px;
}
.button-full input[type=submit]{
    font-size: 16px;
    font-family: 'proxima_novasemibold', Fallback, sans-serif;
    text-transform: uppercase;
    margin: 0;
    padding: 6px 0;
    border: none;
}

/* Button Colors */
.button-red{
    color: #fff;
    background-color: #ea0f00;
    border: 1px solid #ea0f00;
}
.button-red input[type=submit]{
    border: 1px solid #ea0f00;
    background-color: #ea0f00;
    color: #fff;
}
.button-white{
    color: #ea0f00;
    background: #fff;
    border: 1px solid #ea0f00;
}

/* Button on Toolbar */
.bottom-button-toolbar{
    background: #fff;
    height: 84px;
    padding: 20px;
}
.bottom-button-toolbar::before{
    height: auto;
    background-color: transparent;
}
.bottom-button-toolbar a.button{
    justify-content: center;
    height: auto;
    padding-top: 12px;
    color: #fff;
    font-size: 14px;
}

/* --- Custom Page --- */
.page.custom-nav .page-content{
    padding-top: 60px;
}
.page.custom-nav .messages-content{
    padding-top: 140px;
}
.page.custom-nav .navbar .left{
  margin-left: -5px;
}
.register.custom-nav .page-content{
    padding-bottom: 0;
}
.register .register-left{
    padding-left: 15px;
}

/* --- Image Responsive --- */
img{
    width: auto;
    max-width: 100%;
    height: auto;
    display: block;
}

/* --- Chat --- */
.chat-block{
    margin: 0;
}
.chat-block .item-content{
    padding-left: 0;
}
.chat-block .item-media{
    padding: 0;
}
.chat-block .item-link .item-inner{
    padding: 0;
    background-image: none;
}
.chat-block .item-inner::after{
    height: 0;
    background-color: transparent;
}
.chat-block .chat-item{
    padding: 15px;
    border: 1px solid #ededed;
    border-top: 0;
}
.chat-block .chat-media{
    width: 50px;
    height: 50px;
}
.chat-content .chat-merchant{
    font-family: 'proxima_novasemibold', Fallback, sans-serif;
    font-size: 14px;
    color: #4a4a4a;
    margin: 0;
}
.chat-content .chat-message{
    font-family: 'proxima_nova_rgregular', Fallback, sans-serif;
    font-size: 14px;
    color: #878787;
    margin: 0;
}
.chat-block .chat-time{
    font-family: 'proxima_nova_rgregular', Fallback, sans-serif;
    font-size: 12px;
    color: #b0b0b0;
}

/* --- Chat Detail --- */
.cart-block{
    margin: 0;
}
.cart-block ul:before,
.cart-block ul:after{
    height: auto;
    background-color: transparent;
}
.cart-block .item-content{
    min-height: inherit;
    padding-left: 0;
}
.cart-block .item-media{
    padding: 0;
}
.cart-block .item-inner{
    padding: 0;
    min-height: inherit;
}
.cart-block .item-after{
    max-height: none;
    text-align: right;
}
.cart-block .cart-content{
    padding: 14px 20px;
}
.cart-content .cart-media{
    width: 50px;
    height: auto;
}
.cart-content .cart-product{
    font-family: 'proxima_novasemibold', Fallback, sans-serif;
    font-size: 14px;
    color: #4a4a4a;
    margin: 0;
}
.cart-content .cart-product-desc{
    margin: 0;
    font-family: 'proxima_nova_rgregular', Fallback, sans-serif;
    font-size: 14px;
    color: #4a4a4a;
}
.cart-content .cart-product-desc a{
    color: #4a4a4a;
}
.cart-product-desc .cart-badge{
    background-color: #ededed;
    font-family: 'proxima_novasemibold', Fallback, sans-serif;
    font-size: 12px;
    letter-spacing: 0.2px;
    color: #4a4a4a;
    padding: 6px 12px 4px;
    line-height: normal;
    margin-right: 6px;
    height: auto;
}
.cart-content .cart-delete{
    font-size: 12px;
    color: #a5a5a5;
    position: relative;
    right: 2px;
}
.cart-content .cart-product-price{
    margin: 0;
    font-family: 'proxima_nova_rgregular', Fallback, sans-serif;
    font-size: 14px;
    color: #ea0f00;
}
.chat-product{
    height: 80px;
    padding: 0;
    background: #fff;
    border: solid 1px #ededed;
}
.chat-product:after{
    height: auto;
    background-color: transparent;
}
.chat-product .cart-block{
    width: 100%;
}
.chat-product .cart-block .cart-content{
    padding-top: 6px;
    padding-bottom: 6px;
}
.chat-product .text-red{
    color: #ea0f00;
}
.chatlist .messages-content{
    padding: 120px 10px 0;
}
.chatlist .messages-date{
    font-family: 'proxima_nova_rgregular', Fallback, sans-serif;
    font-size: 14px;
    color: #cdcdcd;
    margin-top: 20px;
}
.chatlist .message{
    position: relative;
    max-width: 100%;
    margin-top: 16px;
}
.chatlist .message .message-text{
    border-radius: 4px;
    background-color: #fff;
    border: solid 1px #e1e1e1;
    font-family: 'proxima_nova_rgregular', Fallback, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #5d5b5b;
    padding: 8px 12px;
}
.chatlist .message-received .message-text{
    background-color: rgba(233, 63, 51, 0.06);
    border: none;
    border-radius: 4px;
}
.chatlist .message-text .message-date{
    position: absolute;
    font-family: 'proxima_nova_rgregular', Fallback, sans-serif;
    bottom: -12px;
    font-size: 12px;
    color: #b0b0b0;
}
.chatlist .message-sent .message-date{
    left: auto;
    right: 60px;
}
.chatlist .message-received .message-date{
    left: 60px;
}
.chatlist .message-avatar{
    width: 50px;
    height: 50px;
    border-radius: 4px;
    margin-top: -40px;
}
.chatlist .message-sent.message-with-avatar .message-text{
    margin-right: 60px;
}
.chatlist .message-received.message-with-avatar .message-text{
    margin-left: 60px;
}
.chatlist .message-received.message-last .message-text, .chatlist .message-received.message-with-tail .message-text,
.chatlist .message-sent.message-last .message-text, .chatlist .message-sent.message-with-tail .message-text{
    -webkit-mask-box-image: none;
}

/* Chat Input Field */
.chat-input{
    background-color: #f9f9f9;
    height: 80px;
}
.chat-input .toolbar-inner{
    padding: 18px;
}
.chat-input textarea{
    height: 48px;
    border-radius: 4px;
    padding: 14px 20px;
    font-family: 'proxima_nova_rgregular', Fallback, sans-serif;
    font-size: 14px;
    border: solid 1px #e1e1e1;
}
.chat-input textarea::-moz-placeholder{
    color: #b8b8b8;
}
.chat-input textarea:-moz-placeholder{
    color: #b8b8b8;
}
.chat-input textarea:-ms-input-placeholder{
    color: #b8b8b8;
}
.chat-input textarea:focus:-ms-input-placeholder{
    color: #b8b8b8;
}
.chat-input textarea::-webkit-input-placeholder{
    color: #b8b8b8;
}
.chat-input a.link{
    height: 44px;
    line-height: 44px;
    border-radius: 4px;
    background-color: #ea0f00;
    text-transform: uppercase;
    font-family: 'proxima_nova_rgbold', Fallback, sans-serif;
    font-size: 14px;
    letter-spacing: 0.3px;
    color: #fff;
    padding: 2px 20px;
    top: 2px;
}

/* --- Profile --- */
.profile-block{
    margin-bottom: 10px;
}
.profile-block .cart-content{
    padding-top: 24px;
    padding-bottom: 20px;
}
.profile-block .cart-content .cart-media{
    width: 50px;
    height: 50px;
}
.profile-block .cart-content .cart-media img{
    position: relative;
    top: -3px;
}
.profile-block .cart-content .cart-product-desc{
    font-size: 16px;
    color: #878787;
}
.profile-block .profile-name{
    font-size: 20px;
    line-height: 20px;
}
.profile-block .profile-setting{
    font-size: 24px;
    color: #ef9200;
}
.profile-block .button{
    display: inline-block;
    height: 30px;
    line-height: 30px;
}
.profile-block .profile-saldo{
    font-size: 16px;
    line-height: 16px;
}
.profile-menu{
    margin-top: 26px;
    margin-bottom: 26px;
}
.profile-menu .cart-content:first-child{
    border-top: 1px solid #ececec;
}
.profile-menu .cart-content{
    border-bottom: 1px solid #ececec;
}
.profile-menu .item-inner:after{
    height: 0;
    background-color: transparent;
}
.thumbnail-block{
    margin: auto;
    padding: 0;
    text-align: center;
    border-bottom: solid 1px #ededed;
}
.thumbnail-block .content-block-inner{
    margin: 0;
    padding: 30px 0;
}
.thumbnail-block .thumbnail-title{
    font-family: 'proxima_novasemibold', fallback, sans-serif;
    font-size: 18px;
    color: #4a4a4a;
    margin: 0;
}
.thumbnail-photo{
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
}
.thumbnail-city{
    width: 100%;
    display: inline-block;
    font-family: 'proxima_novasemibold', Fallback, sans-serif;
    font-size: 14px;
    color: #979797;
    margin: 0;
}
.thumbnail-block .button{
    width: 104px;
    height: 30px;
    line-height: 30px;
    text-transform: none;
    margin: 20px auto 0;
}
form.edit-form{
    border-top: solid 1px #ededed;
    margin-top: 30px;
    padding-left: 0;
    padding-right: 0;
}
