body{
	font-family: "proxima_nova_rgregular";
	color: #4a4a4a;
}
.navbar-fixed .page > .searchbar, .navbar-fixed > .searchbar, .navbar-through .page > .searchbar, .navbar-through > .searchbar {
	top: 60px;
}
.navbar-fixed .page>.searchbar~.page-content, .navbar-fixed>.searchbar~.page-content, .navbar-through .page>.searchbar~.page-content, .navbar-through>.searchbar~.page-content {
	padding-top: 102px;
}
.navbar .left{
	margin-left: 10px;

}
.navbar .right{
	margin-right: 10px;

}
.badge.color-red{
	background-color: #ea0f00;
	color: #ffffff;
}
.badge.color-white{
	background-color: #ffffff;
	color: #ea0f00;
}
a,a:hover,a:focus{
	color:#ea0f00;
}
a:hover,a:focus{
	text-decoration: underline;
}
.page.bg-grey{
	background-color: #f8f8f8;

}
.page.bg-white{
	background-color: #ffffff;
	color: #6f6f6f;
}
.toolbar.bg-white{
	background-color: #ffffff;
}
.navbar{
	background-color: #ea0f00;
	height: 60px;
	font-size: 14px;
	color: #ffffff;
}
.toolbar{
	background-color: #ea0f00;
	height: 60px;
	font-size: 12px;
	color: #ffffff;
}
.toolbar a{
	color: #f58781;
}
.toolbar a:hover,
.toolbar a:focus,
.toolbar a.active{
	color: #ffffff;
}
.toolbar .toolbar-inner{
	padding: 0 20px;
}
.toolbar a.link {
	line-height: inherit;
	height: 60px;
	padding-top: 30px;
	text-decoration: none;
}
.tb-icon{
	position: absolute;
	left: 50%;
	margin-left: -25%;
	top: 30px;
	font-size: 20px;
}
.navbar a{
	color: #ffffff;
}
.nav-left-title{
	text-transform:capitalize;
	margin-left: 20px;
}
.btitle{
	color: #ea0f00;
	font-size: 20px;
	font-family: "proxima_nova_rgbold";
	text-transform: uppercase;
}
.font-sbold{
	font-family: "proxima_novasemibold";
}
.font-bold{
	font-family: "proxima_nova_rgbold";

}
.searchbar:after{
	background-color: #ededed;
}
.searchbar .searchbar-cancel{
	font-size: 12px;
}
.searchbar input[type="search"]{
	color: #4a4a4a;
}
.center{
	text-align: center;
}
.center-page-title{
	margin-top: 50px;
	margin-bottom: 20px;
	text-align: center;
}
.center-page-title h2{
	width: 210px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	position: relative;
}
.center-page-title .badge,
.navbar-title .badge{
	top: 2px;
	font-size: 10px;
	position: absolute;
	right: 0;
	padding: 0 8px;
	border-radius: 4px;
}
.no-margin{
	margin:0;
}
.no-padding{
	padding:0;
}
.margin-tb-20{
	margin: 20px 0;
}
.margin-tb-40{
	margin: 40px 0;
}
.margin-b-10{
	margin-bottom: 10px;
}
.margin-b-20{
	margin-bottom: 20px;
}
.margin-t-15{
	margin-top: 15px;
}
.margin-t-20{
	margin-top: 20px;
}
.margin-t-25{
	margin-top: 25px;
}
.margin-lr-5{
	margin-left: 5px;
	margin-right: 5px;
}
.pd-10{
	padding: 10px;
}
h1{
	font-size: 19px;
}
h2{
	font-size: 17px;
}
h3{
	font-size: 16px;
}
.list-block .item-inner:after,
.list-block .item-inner:before{
	background-color: #ededed;
}
.smart-select-page .list-block .item-inner:after,
.smart-select-page .list-block .item-inner:before{
	background-color: #d9d9d9;
}
form.list-block ul:before,
form.list-block ul:after,
form.list-block .item-inner:after{
	background: none;
}
form.list-block .item-title{
	font-size: 14px;
}
.list-block input[type=date],
.list-block input[type=datetime-local],
.list-block input[type=email],
.list-block input[type=number],
.list-block input[type=password],
.list-block input[type=search],
.list-block input[type=tel],
.list-block input[type=text],
.list-block input[type=time],
.list-block input[type=url],
.list-block select,
.list-block textarea{
	font-size: 14px;
	font-weight: 600;
	border-bottom: 1px solid #d9d9d9;
	color: #4a4a4a;
}
form.list-block .item-content{
	margin-bottom: 10px;
}
form.list-block{
	padding-left: 10px;
	padding-right: 10px;
}
form.list-block .input-div{
	margin-top: -30px;
}
.list-block ul:before,
.list-block ul:after,
.content-block-inner:before,
.content-block-inner:after{
	background-color: #ededed;
}
.no-gap .item-content{
	margin-bottom: 0!important;
}
.no-gap > .item-content > .item-inner{
	padding-bottom: 0!important;
}
.page>.searchbar{
	top:60px;
}
.input-grid{
	width:100%;
}
.ph-code-input .item-input {
	position: relative;
}
.ph-code-input .item-input:after {
	content: '';
	position: absolute;
	right: 0;
	top: 10px;
	bottom: auto;
	height: 60%;
	width: 1px;
	background-color: #c8c7cc;
	display: block;
	z-index: 15;
	-webkit-transform-origin: 50% 0;
	transform-origin: 50% 0;
}
.list-block .pd-l-10 input{
	padding-left: 10px!important;
}
.list-block .pd-r-10 input{
	padding-right: 10px!important;
}
.button{
	height: auto;
	border: none;
	font-family: "proxima_novasemibold";
}
a.button,
a.button:hover,
a.button:focus{
	text-decoration: none;
}
.button.btn-red{
	border-radius: 4px;
	background-color: #ea0f00;
	color: #ffffff!important;
	/*text-transform: capitalize;*/
	padding: 10px 5px;
}
.button.btn-red:hover,
.button.btn-red:focus,
.button.btn-red.active{
	background-color: #d31508;
}
.button.btn-white{
	border-radius: 4px;
	background-color: #ffffff;
	color: #ea0f00!important;
	padding: 10px 5px;
	border: 1px solid #ea0f00;
}
.button.btn-red.disabled{
	background-color: #e7675f;
}
.button.btn-orange{
	background-color: #ef9200;
}
.button.btn-orange:hover,
.button.btn-orange:focus,
.button.btn-orange.active{
	background-color: #d88401;
}
.searchbar{
	background: #ffffff;
}
.prod-list{
	margin-bottom: 60px;
}
.prod-list .list-block .item-content{
	border-bottom: 1px solid #ededed;
	padding-top: 8px;
	padding-bottom: 8px;
}
.prod-list .list-block li:last-child .item-content{
	border-bottom: none;
}
.prod-list .list-block .item-inner:after{
	display: none;
}
.prod-list .list-block.media-list .item-link .item-inner{
	background:  no-repeat 96% center;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%2060%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cpath%20d%3D'm60%2061.5-38.25%2038.25-9.75-9.75%2029.25-28.5-29.25-28.5%209.75-9.75z'%20fill%3D'%23c7c7cc'%2F%3E%3C%2Fsvg%3E");
	background-size: 10px 20px;
}
.prod-list .list-block li.media-item .item-link .item-title-row,
.prod-list .list-block.media-list .item-link .item-title-row,
.top-block.list-block li.media-item .item-link .item-title-row,
.top-block.list-block.media-list .item-link .item-title-row {
	background: none;
}
.prod-list .item-media img,
.top-block .item-media img{
	width: 60px;
}
.prodlist-title{
	margin-top: 15px;
	margin-bottom: -20px;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}
.text-grey{
	color: #878787!important;
}
.text-dgrey{
	color: #4a4a4a;
}
.text-light{
	color: #8e8e93;
}
.text-red{
	color: #ea0f00;
}
.text-orange{
	color: #ef9200;
}
.badge{
	padding: 0 12px;
	font-size: 11px;
}
.inline-icon{
	display: inline-block;
	font-size: 10px;
}
.prod-list .list-block.media-list .item-title,
.top-block.list-block.media-list .item-title{
	font-family: proxima_novasemibold;
}
/* - Select & Filter - */
.select-block{
	margin: 15px 0 0;
	padding: 0;
}
.select-block .row{
	justify-content: center;
}
.select-block .item-content{
	padding-left: 0;
}
.select-block .item-inner{
	padding: 0;
}
.select-block .select-block-item{
	background-color: #f2f2f2;
	width: 33.33333%;
}
.select-block-item .select-input{
	margin-top: 0;
	margin-bottom: 0;
	border: 1px solid #dedede;
	width: 100%;
	background: url(../../images/icons/chevron-down.png) no-repeat;
	background-position: 90% center;
	background-size: 10px;
}
.select-input select{
	width: 100%;
	height: 44px;
	padding-left: 18px;
	border: none;
	font-family: 'proxima_novasemibold';
	font-size: 12px;
	color: #4d4d4d;
	background: transparent;
}
/*------------*/
.navbar-title{
	width: 130px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	position: relative;
}
.navbar-title .btitle{
	color:#ffffff;
}
.navbar-title .badge{
	top:11px;
}
.list-block.top-block{
	margin-top: 15px;
	margin-bottom: 15px;
}
.list-block.top-block.home-profile .item-content{
	padding-top: 10px;
	padding-bottom: 10px;
}
.warning-circle{
	position: absolute;
	width: 30px;
	height: 30px;
	background: url(../../images/icons/iconinfo.png) no-repeat;
	top:30%;
	right: 20px;
}
.top-block.list-block .item-link{
	position: relative;
	padding-top: 10px;
	padding-bottom: 10px;
}
.top-block.list-block .item-subtitle{
	color: #4a4a4a;
	opacity: .5;
}
.top-block.list-block.media-list .item-inner{
	padding-top: 20px;
}
.toolbar a.link.toolbar-separator{
	width: .5px;
	padding: 0;
	min-width: unset;
	background: rgba(214, 211, 211, 0.4);
}
.nav-btn-right .button{
	font-size: 16px;
	padding: 5px 15px;
}
.nav-btn-right .button .icon-btn{
	font-size: 16px;
}
.badge.color-bgreen{
	background-color: #7eaa4e;
}
.stat-title{
	text-transform: uppercase;
	font-size: 12px;
}
.padding-tb-40{
	padding-top: 40px;
	padding-bottom: 40px;
}
.padding-tb-20{
	padding-top: 20px;
	padding-bottom: 20px;
}
.padding-tb-10{
	padding-top: 10px;
	padding-bottom: 10px;
}
.padding-tb-15{
	padding-top: 15px;
	padding-bottom: 15px;
}
.padding-tb-5{
	padding-top: 5px;
	padding-bottom: 5px;
}
.padding-b-20{
	padding-bottom: 20px;
}
.home-stat{
	margin-top: 10px;
	margin-bottom: 10px;
}
.home-stat .saldo{
	border-bottom: 1px solid #ededed;
	margin-left: -15px;
	margin-right: -15px;
	padding-left: 15px;
	padding-right: 15px;
}
.home-stat img{
	width: 100%;
}
@media(max-width:327px){
	.border-grid .text-grey{
		font-size: 11px;
	}
}
@media(max-width:240px){
	.border-grid .text-grey{
		font-size: 9px;
	}
}
.size-12{
	font-size: 12px;
}
.size-14{
	font-size: 14px;
}
.size-15{
	font-size: 15px;
}
.size-18{
	font-size: 18px;
}
.size-26{
	font-size: 26px;
}
.text-dark,
a.text-dark{
	color: #4a4a4a;
}
.stat-grid .border-right{
	position: relative;
}
.stat-grid .border-right:after{
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	content: '';
	width: 1px;
	background: #ededed;
}
.page.has-navbar .page-content{
	padding-top: 44px;
}
.page.has-navbar.has-searchbar .page-content{
	padding-top: 89px;
}
.page.has-toolbar .page-content{
	padding-bottom: 100px;
}
.border-grid{
	background: #ffffff;
	border-top: 1px solid #ededed;
	border-bottom: 1px solid #ededed;
}
.border-grid > div{
	padding: 15px;
}
.border-grid .border-right{
	border-right: 1px solid #ededed;
}
.border-grid .border-bottom{
	border-bottom: 1px solid #ededed;
}
.has-dot{
	position: relative;
	display: inline-block;
}
.dot{
	position: absolute;
	top:0;
	right: -10px;
	width: 5px;
	height: 5px;
	border-radius: 50%
}
.dot-red{
	background-color: #c80d00;
}
.icon-triangle{
	width:11px;
	height: 11px;
	background: url("../../assets/images/triangle.png") no-repeat;
	display: inline-block;
	margin-left: 10px;
	margin-bottom: -2px;
}
.prod-sum.top-block.list-block.list-inline ul{
	padding: 0 10px;
}
.prod-sum.top-block.list-block.list-inline .item-content{
	padding-left:10px;
	padding-top: 15px;
	padding-bottom: 5px;
}
.prod-sum.top-block.list-block.list-inline .item-inner{
	padding-top: 5px;
	padding-bottom: 0;
	padding-right: 15px;
	border-right: 1px solid #ededed;
}
.prod-sum.top-block.list-block.list-inline li:last-child .item-inner{
	border: none;
}
@media(max-width:398px){
	.prod-sum.top-block.list-block.list-inline li:first-child .item-content{
		padding-left: 10px;
	}
	.prod-sum.top-block.list-block.list-inline .item-content{
		padding-left: 5px;
	}
	.prod-sum.top-block.list-block.list-inline .item-inner{
		padding-right: 8px;
	}
	.prod-sum.top-block.list-block.list-inline .item-title{
		font-size: 13px;
	}
	.prod-sum.top-block.list-block.list-inline .item-subtitle{
		font-size: 12px;

	}
}
@media(max-width:240px){
	.prod-sum.top-block.list-block.list-inline li:first-child .item-content{
		padding-left: 0px;
	}
	.prod-sum.top-block.list-block.list-inline .item-content{
		padding-left: 0;
	}
	.prod-sum.top-block.list-block.list-inline .item-inner{
		padding-right: 4px;
	}
	.prod-sum.top-block.list-block.list-inline .item-title{
		font-size: 12px;
	}
	.prod-sum.top-block.list-block.list-inline .item-subtitle{
		font-size: 10px;

	}
}
@media(max-width:320px){
	.list-block.trans-list .item-after{
		position: absolute;
		left: -8px;
		top: 10px;
	}
}
.list-block.list-inline .item-inner:after{
	/*right: 0;
	bottom: 5px;
	left: auto;
	top: 10px;
	width: 1px;
	height: auto;
	display: block;
	background-color: #ededed;*/
	display: none;
}


.list-block.list-inline li{
	display: inline-block;
	font-size: 16px;
	margin-bottom: 10px;
}
.top-block.list-block.list-inline .item-title{
	font-family: "proxima_nova_rgregular";
	font-size: 15px;
}
.list-block.list-inline .item-subtitle{
	font-size: 14px;
}
.statistik{
	padding-bottom: 20px;
}
/* - Products - */
.product-block{
	margin: 24px 0;
	padding: 0 18px;
}
.product-block .product-item{
	margin: 0 0 20px 0;
	box-shadow: none;
	border: 1px solid #e2e2e2;
}
.product-item .product-preview{
	padding: 0;
}
.product-item .product-preview::after{
	background-color: transparent;
}
.product-item .product-title{
	font-family: 'proxima_novasemibold';
	font-size: 16px;
	letter-spacing: -0.1px;
	color: #4a4a4a;
	margin: 0;
}
.product-item .product-price{
	font-family: 'proxima_novasemibold';
	font-size: 14px;
	line-height: 20px;
	color: #4a4a4a;
	margin: 0;
}
.product-item .product-discount{
	text-decoration: line-through;
}
.product-item .card-content{
	padding: 0 15px;
}
.product-item .card-content-inner{
	padding: 15px 0 8px;
}
.product-item .card-footer a.link{
	height: auto;
	margin-left: 0;
}
.product-item .product-footer{
	height: 50px;
	min-height: inherit;
	border-top: 1px solid #e2e2e2;
	padding: 10px 0;
	margin: 0 15px;
	text-align: left;
}
.product-footer .product-action{
	font-family: 'proxima_novasemibold';
	font-size: 13px;
	line-height: normal;
	color: #4a4a4a;
}
.product-footer .product-action .icon{
	color: #c7c5c5;
	font-size: 14px;
	margin-right: 5px;
	line-height: normal;
}
.product-item .card-footer a.product-action-button{
	margin-left: auto;
	margin-right: 0;
}
.product-footer .product-action .icon-liked{
	color: #ea0f00;
}
.tall-toolbar{
	height: 80px;
}
.tall-toolbar .button{
	width: 100%;
}
.product-action-item .product-like,
.product-action-item .product-stock{
	font-family: 'proxima_novasemibold';
	font-size: 12px;
	line-height: 1.77;
	color: #a6a6a6;
}
.product-action-item .product-stock{
	text-align: right;
}
.product-stock .product-stock-value{
	font-family: 'proxima_novasemibold';
	color: #4c4c4c;
}
.product-action.list-block{
	margin-top: 10px;
}

.product-action.list-block .product-action-item .item-inner{
	margin-right: 15px;
	padding-right: 0;
}
.product-action.list-block .product-action-item .item-inner:after{
	left: 0;
	bottom: auto;
	right: 15px;
	top: -3px;
	height: 1px;
	margin-top: 5px;
	content: '';
	position: absolute;
	background-color: #d9d9d9;
	display: block;
	z-index: 15;
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	margin-top: 5px;
}
.card.product-item img{
	width: 100%;
}
.available-stock{
	background-color: #ededed;
}
.available-stock .badge{
	border-radius: 4px;
	padding: 5px 15px;
	height: auto;
	color: #4a4a4a;
	margin-top: 10px;
	margin-bottom: 8px;
}
.available-stock .badge.product-tag{
	margin: 10px 10px 10px 0;
}
.hidden{
	display: none;
}
/*input produkk*/
.top-block.add-prod-img .item-content{
	width: 92px;
	height: 92px;
	padding: 0;
}
.top-block.add-prod-img{
	overflow-x: auto;
	overflow-y: hidden;
	padding-bottom: 20px;
}
.top-block.add-prod-img ul{
	padding-top: 15px;
	padding-left: 15px;
	width: 200%;
	height: 105px;
}
.top-block.add-prod-img label,
.top-block.add-prod-img img{
	width: 100%;
	height: 100%;
}
.top-block.add-prod-img .item-inner{
	padding-top: 5px;
}
.top-block.add-prod-img .item-inner:after{
	display: none;
}
.wrap-h-137{
	height: 137px;
	overflow: hidden;
}
.product-form.list-block .item-content,
.product-form.list-block{
	padding: 0;
}
/*statistik*/
.icon-chev-down{
	width:11px;
	height: 11px;
	background: url("../../images/icons/chevron-down.png") no-repeat;
	display: inline-block;
	margin-left: 10px;
	margin-bottom: -2px;
	background-size: 100%;
}
.full-width{
	width:100%!important;
}
a.tab-link.button {
	border: 1px solid #ededed;
	padding: 8px;
	color: #4d4d4d;
	font-family: "proxima_novasemibold";
}
a.tab-link.button.active {
	color: #ffffff;
	background-color: #ea0f00;
}
.stat-menu-wrapper{
	margin-left: -15px;
	margin-right: -15px;
	height: 51px;
	overflow: hidden;
}
.stat-menu.list-block{
	margin: 0;
	overflow-x: auto;
	overflow-y: hidden;
	padding-bottom: 20px;
}
.stat-menu.list-block ul{
	height: 47px;
	width: 150%;
	background-color: #f8f8f8;
}
.stat-menu.list-block li{

}
.stat-menu a.tab-link.active{
	background: none;
}
.stat-menu.list-block .item-inner{
	background: none;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 12px;
}
.stat-menu.list-block .item-inner:after{
	display:none;
}
.stat-menu.list-block li a{
	color: #909090;
	font-family: "proxima_novasemibold";
	text-decoration: none;
}
.stat-menu.list-block a.tab-link{
	padding: 13px 20px;
	margin-left: 0;
}
.stat-menu.list-block a.tab-link.active{
	border-bottom: 2px solid #ea0f00;
	color: #4a4a4a;
}
.stat-menu .item-content{
	padding-left: 0;
}
.stat-menu .item-content .item-inner{
	padding-top: 2px;
	padding-right: 0;

}
/*input produk*/
.item-input textarea{
	margin-top: 5px;
}
.input-div.select .item-inner{
	background-position: right center;
	padding-top: 3px;
}
.input-div.select .item-inner a.smart-select .item-inner .item-title{
	display: none;
}
.input-div.select .item-inner a.smart-select .item-inner{
	border-bottom: 1px solid #d9d9d9;
}
.input-div.select .item-inner a.smart-select{
	/*width: 100%;*/
	text-decoration: none;
	font-size: 15px;
}
.input-div.select .item-inner .item-after{
	margin-left: 0;
	padding-left: 0;
	color: #4a4a4a;
	font-family: "proxima_novasemibold";
}
.item-title.label{
	color: #787878;
}
.text-pil-ukuran{
	font-family: "proxima_novasemibold";
	color: #4a4a4a;
}
.navbar .center{
	font-family: "proxima_novasemibold"
}
.smart-select-page{
	background-color: #ffffff;
}
.smart-select-page .navbar .left a{
	color: #ffffff;
}
.smart-select-page .navbar .left i.icon.icon-back{
	background-image: none;
	/*margin-top: -20px;*/
}
.smart-select-page .navbar .left i.icon.icon-back:before{
	content: "\e905";
}
.smart-select-page .list-block ul:before,
.smart-select-page .list-block ul:after{
	display: none;
}
.smart-select-page .list-block .item-content{
	padding-right: 20px;
}
.smart-select-page label.label-radio input[type=radio]~.item-inner{
	background: no-repeat center;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%2060%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cpath%20d%3D'm60%2061.5-38.25%2038.25-9.75-9.75%2029.25-28.5-29.25-28.5%209.75-9.75z'%20fill%3D'%23c7c7cc'%2F%3E%3C%2Fsvg%3E");
	-webkit-background-size: 13px 10px;
	background-size: 10px 20px;
	background-position: 98% center;
	padding-top: 20px;
	padding-bottom: 20px;
}
.smart-select-page label.label-radio input[type=radio]:checked~.item-inner{
	background-image: url("../images/checked-cat.png");
	background-size: 25px;
	color: #ea0f00;
	background-position: right center;
}
.smart-select-page .item-title{
	font-family: "proxima_novasemibold";
}
.smart-select-page .list-block .item-title{
	font-size: 14px;
}
form.list-block .input-div.select-warna{
	margin-top: 20px;
}
form.list-block .input-div.select-ukuran{
	margin-top: 20px;
}
form.list-block .input-div.select-ukuran .item-content,
form.list-block .input-div.select-warna .item-content{
	margin-bottom: 0;
}
form.list-block .input-div.select-ukuran .label,
form.list-block .input-div.select-warna .label{
	text-align: left;
}
form.list-block .input-div.select-ukuran .smart-select .item-title,
form.list-block .input-div.select-warna .smart-select .item-title{
	display: none;
}
form.list-block .input-div.select-ukuran .smart-select,
form.list-block .input-div.select-warna .smart-select{
	border-bottom: 1px solid #d9d9d9;
	font-size: 15px;
	text-decoration: none;
}
.form-checkbox i, label.label-checkbox i.icon-form-checkbox{
	border-radius: 5px;
	border-color: #979797;
}
.form-checkbox input[type=checkbox]:checked~i,
label.label-checkbox input[type=checkbox]:checked+.item-media i.icon-form-checkbox,
label.label-checkbox input[type=radio]:checked+.item-media i.icon-form-checkbox {
	border: 1px solid #ea0f00;
	background-color: #ffffff;
}
.form-checkbox input[type=checkbox]:checked~i:after,
label.label-checkbox input[type=checkbox]:checked+.item-media i.icon-form-checkbox:after,
label.label-checkbox input[type=radio]:checked+.item-media i.icon-form-checkbox:after{
	background-image: url("../images/red-check.png");
	background-size: 13px 10px;
}
[data-select-name="warna"] .item-inner:after{
	display: none;
}
/*[data-select-name="warna"] li:last-child label{
border-bottom: none;
}*/
[data-select-name="warna"] label{
	border-bottom: 1px solid #d9d9d9;
	margin-left: 20px;
	padding-left: 0!important;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 0!important;
	margin-right: 20px;
}
.text-pil-ukuran{
	color: #8e8e93;
	font-size: 15px;
	margin-top: 3px;
	border-bottom: 1px solid #d9d9d9;
	padding-bottom: 10px;
	background: no-repeat center;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%2060%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cpath%20d%3D'm60%2061.5-38.25%2038.25-9.75-9.75%2029.25-28.5-29.25-28.5%209.75-9.75z'%20fill%3D'%23c7c7cc'%2F%3E%3C%2Fsvg%3E");
	-webkit-background-size: 13px 10px;
	background-size: 10px 20px;
	background-position: right top;
}
form.list-block.no-padding .item-content{
	padding-left: 0;
}
form.list-block.no-padding .item-inner{
	padding-right: 0;
}
form.list-block.no-padding{
	padding: 0;
}
/*transaksi*/
.trans-footer img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
.trans-list img{
	width: 75px;
}
.trans-list,
.trans-footer{
	margin-left: -15px;
	margin-right: -15px;
}
.trans-footer.list-block ul:before{
	display: none;
}
.trans-list.list-block.media-list .item-title{
	font-family: "proxima_novasemibold";
}
.trans-list.list-block.media-list .item-title-row{
	margin-top: 20px;
}
.trans-list.list-block.media-list a{
	color: #4a4a4a;
}
.trans-list.list-block.media-list {
	font-size: 15px;
}
.trans-list.list-block.media-list .item-subtitle{
	color: #a2a2a2;
}
.trans-list.list-block.media-list .item-text{
	color:#4a4a4a;
	font-family: "proxima_novasemibold";
}
.trans-list.list-block.media-list .item-media{
	padding-top: 0;
	padding-bottom: 0;
}
.trans-footer.list-block.media-list .item-title-row{
	margin-top: 10px;
	font-family: "proxima_novasemibold";
	font-size: 14px;
}
.trans-footer.list-block.media-list .item-title{
	color: #4a4a4a;
}
@media(min-width:340px){
	.trans-list a.open-popover{
		position: absolute;
		right: 15px;
		top:30px;
	}
}
.tri-dots{
	width: 27px;
	height: 16px;
	background: url("../images/tri-dots.png");
}

.tri-dots-white{
	width: 27px;
	height: 16px;
	background: url("../images/tri-dots-white.png");
}
.popover.pop-menu{
	width: 150px;
	border-radius: 5px;
}
.popover.pop-menu .content-block{
	margin: 0;
	padding: 0;
}
.popover.pop-menu .content-block .item-link.active-state{
	background-color: transparent;
}
.popover.pop-menu .content-block .item-link{
	font-size: 14px;
}
.popover.pop-menu .content-block .item-link .item-content{
	padding: 0 15px;
}
.popover.pop-menu .content-block .item-link .item-inner{
	background: none;
	padding: 0 10px 0 0;
}
.popover .list-block:first-child li:first-child a,
.popover .list-block:first-child li:last-child a{
	border-radius: 0;
}
/*trans-detail*/
.flipped-title .item-inner{
	border-right: none!important;
	/*position: relative;*/
}
.flipped-title .item-title{

	font-family: "proxima_novasemibold"!important;
}
.flipped-title .item-title-row{
	position: absolute;
	bottom: 0;
}
.flipped-title .item-subtitle{

}
@media(max-width:320px){
	.prod-sum.top-block.list-block.list-inline .item-title {
		font-size: 12px;
	}
	.prod-sum.top-block.list-block.list-inline .item-subtitle {
		font-size: 11px;
	}
}
@media(max-width:310px){
	.prod-sum.top-block.list-block.list-inline .item-title {
		font-size: 11px;
	}
	.prod-sum.top-block.list-block.list-inline .item-subtitle {
		font-size: 10px;
	}
	.prod-sum.top-block.list-block.list-inline .width-130{
		width: 80px;
	}
	.flipped-title .item-title-row {
		bottom: 5px;
	}
}
.width-150{
	width: 150px;
}
.width-130{
	width: 130px;
}
.accordion-item-toggle{
	background-image: url("../../images/icons/chevron-down.png");
	background-position: right center;
	background-repeat: no-repeat;
	background-size: 12px;
	padding: 10px 0 5px;
}
.accordion-item-expanded .accordion-item-toggle{
	background-image: url("../../images/icons/chevron-up.png");
}
.accordion-item-toggle.inline-item-toggle{
	display: inline-block;
	padding-right: 20px;
	padding-top: 5px;
	font-size: 13px;
	font-family: "proxima_novasemibold";
	color: #4a4a4a;
}
