<template>
  <div id="app">
    <f7-statusbar></f7-statusbar>
    <f7-views>
      <f7-view id="main-view" main>
        <f7-page>
          <f7-page-content class="bg-white">
            <div class="center-page-title">
              <h2 class="margin-b-10">
                <span class="font-sbold">Masuk ke</span>
                <span class="btitle">BLANJA</span>
                <div class="badge color-red">SELLER</div>
                <p class="no-margin">masukkan nomer telepon anda untuk <br>masuk sebagai seller</p>
              </h2>
            </div>
            <f7-list form class="no-margin">
              <f7-list-item>
                <f7-label>Nomer Telepon</f7-label>
              </f7-list-item>
              <f7-list-item class="input-div">
                <f7-row class="input-grid" no-gutter>
                  <f7-col width="15" class="ph-code-input pd-r-10">
                    <f7-input class="form-input form-select" type="select" v-model="codeArea">
                      <option value="" disabled>Pilih kode area</option>
                      <option value="886">+886</option>
                      <option value="62">+62</option>
                    </f7-input>
                  </f7-col>
                  <f7-col width="85" class="pd-l-10">
                    <f7-input name="number" placeholder="Nomer Telepon" type="text" v-model="phoneNumber"></f7-input>
                  </f7-col>
                </f7-row>
              </f7-list-item>
              <f7-list-item>
                <f7-label>Password</f7-label>
              </f7-list-item>
              <f7-list-item class="input-div">
                <f7-input name="password" type="password" placeholder="******" v-model="password"></f7-input>
              </f7-list-item>
              <div class="margin-tb-20 pd-10">
                <f7-button class="btn-red margin-lr-5" @click="login">{{ status }}</f7-button>
              </div>
            </f7-list>
          </f7-page-content>
        </f7-page>
      </f7-view>
    </f7-views>
  </div>
</template>
<script>
import Vue from 'vue'
import axios from 'axios'

Vue.use(axios)

export default {
  name: 'App',
  data () {
    return {
      codeArea: '62',
      phoneNumber: '81237621221',
      password: 'sa',
      loading: false
    }
  },
  created () {
    console.log('created...')
  },
  computed: {
    completedPhoneNumber: function () {
      return this.codeArea + this.phoneNumber
    },
    status: function () {
      return this.loading ? 'Harap tunggu...' : 'MASUK'
    }
  },
  methods: {
    login: function () {
      const codeArea = this.codeArea
      const phoneNumber = this.phoneNumber
      const password = this.password

      if (!codeArea || !phoneNumber || !password) {
        console.log('Masih ada field kosong!')
      } else {
        this.loading = true
        this.submitLogin()
      }
    },
    submitLogin: function () {
      var postdata = {
        'msisdn': this.completedPhoneNumber,
        'password': btoa(this.password)
      }

      const self = this

      axios.post('', postdata, {})
        .then(Response => {
          const result = Response.data
          if (result.is_ok) {
            if (self.$store.state.token === null || self.$store.state.token === '') {
              self.$store.commit('saveToken', result.data)
            }
            console.log('Logged in')
            self.$f7.mainView.router.load({url: '/home/'})
          } else {
            console.log(result.error)
          }
          this.loading = false
        })
        .catch(e => {
          this.loading = false
          console.log('error')
        })
    }
  }
}
</script>
<style>

</style>
