* {
    user-select: none;
  }
  
  input {
    user-select: element !important;
  }
  
  .tab-link.active:not(.offline), .tab-link.active:not(.online) {
    background-color: rgba(1, 18, 25, 0.1);
  }
  .tab-link.offline {
    background-color: rgba(255, 0, 0, 0.6);
  }
  .tab-link.offline.active {
    background-color: rgba(255, 0, 0, 0.7);
  }
  .tab-link.online {
    background-color: rgba(0, 255, 0, 0.25);
  }
  .tab-link.online.active {
    background-color: rgba(0, 255, 0, 0.5);
  }
  .tab-link i {
    font-size: 24px;
    color: #FFFFFF;
  }
  .tab-link i.settings-icon {
    font-size: 26px;
    margin-top: -2px;
    margin-left: 2px;
  }
  .tab-link i.a {
    display: inline-block;
  }
  .tab-link i.b {
    display: none;
  }
  .tab-link.active i.a {
    display: none;
  }
  .tab-link.active i.b {
    display: inline-block;
  }
  
  .fw-flag {
    width: 44px;
    height: 34px;
    border: 1px solid #EEE;
  }
  
  .phone-code-selection .item-title-row, .language-selection .item-title-row {
    background-position-y: 10px !important;
  }
  .phone-code-selection .item-title-row .item-title span, .language-selection .item-title-row .item-title span {
    display: block;
    font-size: 12px;
    color: #999;
  }
  .phone-code-selection .item-title-row .item-after, .language-selection .item-title-row .item-after {
    position: relative;
    top: 11px;
  }
  
  .content-block-16-mar {
    margin: 16px 0;
  }
  
  #select-contact {
    position: relative;
  }
  #select-contact i {
    position: absolute;
    font-size: 18px;
    left: 10px;
    top: 50%;
    margin-top: -10px;
  }
  
  .phone-code-selection-area {
    margin-bottom: 0;
    margin-top: 0;
  }
  
  .phone-number-area {
    margin-top: -1px;
  }
  .phone-number-area ul:before {
    background: none;
    display: none;
  }
  .phone-number-area i {
    font-size: 26px;
    margin-left: 7px;
    margin-top: 5px;
  }
  
  .phone-info {
    border-radius: 3px;
    padding: 6px 0;
    text-align: center;
    color: #FFF;
    position: relative;
  }
  .phone-info i, .phone-info span {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
  }
  .phone-info i {
    font-size: 23px;
    position: absolute;
    left: 5px;
    top: 50%;
    margin-top: -12px;
  }
  .phone-info.phone-good {
    background: #2196F3;
  }
  .phone-info.phone-good .icon-close {
    display: none;
  }
  .phone-info.phone-bad {
    background: #F44336;
  }
  .phone-info.phone-bad .icon-check {
    display: none;
  }
  
  .mar-topbot-8 {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  
  .settings-icon {
    font-size: 35px;
    margin-left: 4px;
  }
  
  .settings-icon-mini {
    font-size: 25px;
    margin-left: 8px;
  }
  
  .help-request-item .item-title {
    padding-left: 6px;
  }
  
  .phone_number_input_wrap .item-media {
    width: 46px;
  }
  